
#wrapper #data #left{float:left;width:558px;position:relative;
                    border:1px solid #e8e9e8;                    
                    -webkit-border-radius: 5px;
                      -moz-border-radius: 5px;
                      -o-border-radius: 5px;
                      border-radius: 5px;                      
                      -webkit-box-shadow: 0 0  6px #646564;
                      padding:5px}
#wrapper #data #right{float:right;width:560px;position:relative;
                        border:1px solid #e8e9e8;                    
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -o-border-radius: 5px;
                        border-radius: 5px;                      
                        -webkit-box-shadow: 0 0  6px #646564;
                        -moz-box-shadow: 0 0 6px #646564;
                        padding:5px;
                        }


#wrapper #data .data_box{
                        border:1px dashed #a1a2a1;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -o-border-radius: 5px;
                        border-radius: 5px;                        
                        min-height:60px;
                        position:relative;
                        margin-top:20px;
                        padding:15px 40px 32px 40px;}
#wrapper #data h3{color:#000;position:absolute;background:#fff;top:-12px;left:20px;}
#wrapper #data .data_box h4{color:#023bfe;position:absolute;background:#fff;top:-12px;left:40px;}
#wrapper #data .data_box ul{list-style: circle;}
#wrapper #data .data_box ul li{padding:5px 0px;margin:0px 20px;}
#wrapper #data .data_box a{color:#000;}
#wrapper #data .data_box a:hover{text-decoration:underline;color:#023bfe;}
#wrapper #data .data_box table{width:100%;border-collapse: collapse;}
#wrapper #data .data_box table td,th{border:1px solid #e8e9e8;padding:3px 5px;}
#wrapper #data .data_box table td#error{font-size:12px;}
#wrapper #data .data_box table td input{width:100%;}
#wrapper #data .data_box button{color:#fff;position:absolute; 
                                bottom:2px; right:5px;width:60px;
                                padding:3px 12px;background: url("../../images/index/blue_bg.jpg") repeat-x;
                                display: none;                                
                                }
#wrapper #data .data_box button:hover{font-weight:bold;color:#000;}
#wrapper #data .data_box img#loading{width:32px;height:32px;position:absolute; 
                                bottom:2px; right:12px;display:none;}
#wrapper #data .data_box#thoigian table td{border:none;}
#wrapper #data .data_box#sotc table td{border:none;}


#wrapper #data .data_box#khoa table td,#wrapper #data .data_box#khoa table th{text-align:left;}
#wrapper #data .data_box#khoa button{display:block;position:relative;width:120px;font-size:12px;margin:0px 4px;}
#wrapper #data .data_box#khoa img{width:22px;height:22px;}
#wrapper #data .data_box#khoa img.add{width:25px;height:25px;}
#wrapper #data .data_box#khoa img:hover{cursor:pointer;}

#wrapper #data .data_box#k table td,#wrapper #data .data_box#k table th{text-align:left;}
#wrapper #data .data_box#k button{display:block;position:relative;width:80px;font-size:12px;margin:0px 4px;}
#wrapper #data .data_box#k img{width:22px;height:22px;}
#wrapper #data .data_box#k img.add{width:25px;height:25px;}
#wrapper #data .data_box#k img:hover{cursor:pointer;}

#wrapper #data #right .data_box table td,#wrapper #data .data_box#k table th{text-align:center;}
#wrapper #data #right .data_box button{display:block;position:relative;width:80px;font-size:12px;margin:0px 4px;}
#wrapper #data #right .data_box img{width:22px;height:22px;}
#wrapper #data #right .data_box img.add{width:25px;height:25px;}
#wrapper #data #right .data_box img:hover{cursor:pointer;}





.overflow{position:fixed;top:0px;left:0px;width:100%;height:100%;display:none;background:#111; opacity: 0.6;z-index:1200;}
.popup_detail{width:800px;background:#fff;display:none;z-index:1200;position:fixed;left:300px;top:150px;
              box-shadow:0px 0px 10px #fff;
              -webkit-box-shadow:0px 0px 10px #fff;
              -moz-box-shadow:0px 0px 10px #fff;
              -o-box-shadow:0px 0px 10px #fff;}
.popup_detail #pheader{height:30px;background-color:#4db9fe;position:relative;}
.popup_detail #pheader p#ptitle{color:#fff;font-size:18px;margin:0px 20px;line-height:30px;}
.popup_detail #pheader img{position:absolute;top:-2px;right:-2px;opacity:0.4;}
.popup_detail #pheader img#pclose{top:-2px;right:-2px;}
.popup_detail #pheader img#pnext{top:300px;right:0px;}
.popup_detail #pheader img#pprev{top:300px;left:0px;}
.popup_detail #pheader img:hover{opacity:1;cursor:pointer;} 

.popup_detail #pdata{height:302px;background-color:#fff;overflow-y:auto;padding:10px 10px 10px 50px;position:relative;}
.popup_detail #pdata img#waiting{position:absolute;left:45%;top:40%;}

.popup_detail #pdata table {float:left;border-collapse:collapse;}

.popup_detail #pdata table td{border-bottom:1px dashed #e8e9e8;font-size:20px;padding:5px 10px}
.popup_detail #pdata table tr{height:36px;}
.popup_detail #pdata table tr:hover{background:#e8e9e8;}
.popup_detail #pdata table input,
.popup_detail #pdata table select,
.popup_detail #pdata table textarea{font-size:16px;width:240px;border:none;resize: none;}

.popup_detail #pdata table input:hover,
.popup_detail #pdata table select:hover,
.popup_detail #pdata table textarea:hover{cursor:pointer;}


.popup_detail #pdata table.error td{font-size:12px;}
.popup_detail #pdata table.error td{color:red;}
.popup_detail #pdata table.error tr:hover{background:none;}

.popup_detail #pfooter{height:48px;background-color:#4db9fe;overflow:auto;}
.popup_detail #pfooter h4{float:left;margin:0px 2px;line-height:48px;font-weight:normal;display:none;font-size: 12px;}
.popup_detail #pfooter h4 img{float:left;}
.popup_detail #pfooter img,.popup_detail #pfooter input{float:right;width:46px;height:46px;margin:0px 10px;opacity:0.8;}
.popup_detail #pfooter img:hover{cursor:pointer;opacity:1;}
.popup_detail #pfooter img#process,.popup_detail #pfooter img#save{display:none;}


.popup_detail#add{width:600px;top:10%;left:26%;}      