*{margin:0px 0px;padding:0px 0px;}
#wrapper{height:340px;width:800px;position:relative;}
#wrapper div{margin:20px 10px;}
#wrapper #nd{margin-top:10px;}
#wrapper #nd{position:relative;height:120px;}
#wrapper #nd textarea{position:absolute;left:0px;top:30px;height:100px;width:400px;}
#wrapper #choice input[type="text"]{width:370px;border-radius:2px; line-height:18px;}
#wrapper #ans input[type="number"]{width:40px;}
#wrapper #img{position:absolute;top:0px;left:440px;height:220px;width:300px;opacity:0.9; margin:10px;border:1px solid #cccccc; }

#wrapper #submit input{border:none;background:url("../../images/accept.png");width:48px;height:48px;opacity:0.6;position:absolute;top:260px;left:520px;}
#wrapper #submit input:hover{opacity:1;cursor:pointer;}