
#wrapper #data h3{background-color: #e8e9e8;padding:10px 10px;
                        -webkit-border-top-right-radius: 5px;
                        -moz-border-top-right-radius: 5px;
                        -o-border-top-right-radius: 5px;
                        border-top-right-radius: 5px;
                        height:36px;
                        -webkit-border-top-left-radius: 5px;
                        -moz-border-top-left-radius: 5px;
                        -o-border-top-left-radius: 5px;
                        border-top-left-radius: 5px; 
                        
                         }
#wrapper #data #left{float:left;width:168px;
                     min-height:600px;
                     border:1px solid #a1a2a1;
                     -webkit-border-radius: 5px;
                     -moz-border-radius: 5px;
                     -o-border-radius: 5px;
                     border-radius: 5px; 
                     -webkit-box-shadow: 0 0  8px #646564;
                     -moz-box-shadow: 0 0  8px #646564;
                                          
                     }


#wrapper #data #left ul li{margin:2px 0px 10px 0px;}
#wrapper #data #left ul li a{background: #e8e9e8;padding:8px 10px;display:block;
                        
                        }
#wrapper #data #left ul li a:hover{color: #023bfe;font-weight:bold;}
#wrapper #data #left ul li a.active{font-weight:bold;color: #023bfe;}
#wrapper #data #left ul li ul li{margin:5px 0px 0px 20px;}
#wrapper #data #left ul li ul li a{background:none;padding:0px;border:none;}

#wrapper #data #left ul li ul li a:hover{color: red;font-weight:bold;cursor:pointer;}


#wrapper #data #right{float:right;width:978px;                                         
                      padding:0px;
                      min-height:600px;
                      -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -o-border-radius: 5px;
                        border-radius: 5px; 
                        position:relative;
                        margin-top:0px;
                        border:1px solid #a1a2a1;
                        -webkit-box-shadow: 0 0  8px #646564;
                        -moz-box-shadow: 0 0  8px #646564;
                      }

#wrapper #data #right ul{margin:2px 0px;background: #e8e9e8;height:36px;}
#wrapper #data #right ul li{display:inline-block;margin-left:5px;}
#wrapper #data #right ul li a{font-size:18px;
                              padding:0px 0px;width: 100%;
                              display:block;
                              text-align:center;
                              vertical-align: middle;
                              height:30px;
                              margin-top:6px;
                              line-height: 30px;
                              }
                         
#wrapper #data #right ul li.deactive a{background: #fff;font-weight:bold;}
#wrapper #data #right ul li:hover  a{background: #fff;}

#wrapper #data #right ul li#new{width:450px;}
#wrapper #data #right ul li#copy{width:500px;}
#wrapper #data .box{                
                     -webkit-border-radius: 5px;
                     -moz-border-radius: 5px;
                     -o-border-radius: 5px;
                     border-radius: 5px;
                     margin:100px 10px 0px 160px;
                     position:relative;
             }

#wrapper #data  .box table {float:left;border-collapse:collapse;margin:10px 0px;}

#wrapper #data  .box table td{font-size:18px;padding:5px 10px;text-align:left;border-bottom:1px dashed #e8e9e8;}
#wrapper #data  .box table tr{height:38px;}
#wrapper #data  .box table input,
#wrapper #data  .box table select{font-size:18px;width:300px;resize: none ;}

#wrapper #data  .box table td#base{width:100px;}
#wrapper #data  .box table td#khoa{width:80px;}
#wrapper #data  .box table td#k{width:320px;}
#wrapper #data  .box table input:hover,
#wrapper #data  .box table select:hover{cursor:pointer;}

                 
#wrapper #data  #action {height: 50px;
                        width: 100%;
                        background-color:#e8e9e8;
                        -webkit-border-bottom-right-radius: 5px;
                        -moz-border-bottom-right-radius: 5px;
                        -o-border-bottom-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        -webkit-border-bottom-left-radius: 5px;
                        -moz-border-bottom-left-radius: 5px;
                        -o-border-bottom-left-radius: 5px;
                        border-bottom-left-radius: 5px;                                    
                        position:absolute;
                        bottom:0px;
                        left:0px;           
                        }
#wrapper #data  #action h4{float:left;margin:0px 10px;line-height:50px;font-weight:normal;display:none;}
#wrapper #data  #action h4 img{float:left;}
#wrapper #data  #action img{margin:1px 10px 1px 10px;opacity:0.65;width:48px;height:48px;}
#wrapper #data  #action img:hover{cursor:pointer;opacity:1;}
#wrapper #data  #action img#process,
#wrapper #data  #action img#create{float:right;display:none;}

#wrapper #data #message {display:none;}
#wrapper #data #message span{color:green;}

                     
                        

                        