*{margin: 0 0;}
#wrapper{border:1px solid red;height:220px;width:460px;margin:auto;}
#wrapper div.uploading{margin: 10px auto;text-align: center;position: relative;width:83%;height:60px;display: none;}
#wrapper div.uploading .progress{border: 1px solid #ccc;
background-image: -webkit-linear-gradient(top, #F2F2F2, white);
background-image: -moz-linear-gradient(top, #F2F2F2, white);
background-image: -ms-linear-gradient(top, #F2F2F2, white);
background-image: -o-linear-gradient(top, #F2F2F2, white);
background-image: linear-gradient(top, #F2F2F2, white);
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
-moz-box-shadow: 0px 1px 0px #fff, inset 0 1px 3px 0 rgba(0,0,0,.1);
-webkit-box-shadow: 0px 1px 0px #fff, inset 0 1px 3px 0 rgba(0,0,0,.1);
box-shadow: 0px 1px 0px #fff, inset 0 1px 3px 0 rgba(0,0,0,.1);
width: 100%; height: 20px;}
#wrapper div.uploading .progress #bar{height:20px;width:10%;
-moz-border-radius: 4px 0 0 4px;
-webkit-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background: #47A9EB;
background-image: -webkit-linear-gradient(top, transparent, rgba(14, 74, 113, .2));
background-image: -moz-linear-gradient(top, transparent, rgba(14, 74, 113, .2));
background-image: -ms-linear-gradient(top, transparent, rgba(14, 74, 113, .2));
background-image: -o-linear-gradient(top, transparent, rgba(14, 74, 113, .2));
background-image: linear-gradient(top, transparent, rgba(14, 74, 113, .2));
-webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.25), 0 2px 0px 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0, 83, 138, .6), inset 0 0 0px 1px rgba(255,255,255,.15);
-moz-box-shadow: 0 1px 0 0 rgba(0,0,0,.25), 0 2px 0px 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0, 83, 138, .6), inset 0 0 0px 1px rgba(255,255,255,.15);
box-shadow: 0 1px 0 0 rgba(0,0,0,.25), 0 2px 0px 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0, 83, 138, .6), inset 0 0 0px 1px rgba(255,255,255,.15);}
#wrapper div.uploading .progress #convert{height:23px;width:101%;background:url("../../images/busy.gif");z-index:10;position:absolute;top:0px;left:0px;display:none;}
#wrapper div.uploading #percent{margin-left: 0%; top: 25px;font-weight:bold;}
#wrapper #form{margin:10px 10px;padding:5px 5px;border-radius:4px;}
#wrapper #form div.input{position:relative;height:40px;}
#wrapper #form div.input input{position:absolute;top:5px;width:320px;}
#wrapper #form div.input div.addfile{position:absolute;background:url("../../images/new.png");width:32px;height:32px;left:350px;opacity:0.6;}
#wrapper #form div.input div.addfile:hover{opacity:1;cursor:pointer;}
#wrapper #form div.input div.removefile{position:absolute;background:url("../../images/remove.png");width:32px;height:32px;left:400px;opacity:0.6;}
#wrapper #form div.input div.removefile:hover{opacity:1;cursor:pointer;}
#wrapper #form #submit-upload{background:url("../../images/accept.png");width:48px;height:48px;opacity:0.6;}
#wrapper #form #submit-upload:hover{opacity:1;cursor:pointer;}
#wrapper #ok{position:absolute;top:40%;left:43%;border:1px solid #2CACFE;background-color:#2CACFE;height:40px;width:150px;line-height:40px;border-radius:5px;text-align:center;display:none;}
#wrapper #er{display:none;}