
/*It uses with almost interface */

*{margin:0px;padding:0px;}
a{text-decoration:none;}
a:hover{cursor:pointer;opacity:1;}
body
{
	background: url(../../images/index/body_bg.png);
    
}
#wrapper
{
    width:1280px;
    margin:0px auto;
	background:#fff;
    /* background: #29abfe; */
    -webkit-box-shadow: 0px 0px  10px #646564;
    -moz-box-shadow: 0px 0px 10px #646564;
    box-shadow: 0px 0px 10px #646564;
}
#wrapper #top ul
{
    list-style: none;
    float:right;
}
#wrapper #top ul li
{
    display:inline-block;
    line-height: 31px;
    margin:0px 5px 0px 10px;
    color:#fff;
}
#wrapper #top ul li a
{
    color:#fff;
}
#wrapper #top ul li a.active
{
    opacity:1;
}
#wrapper #header{border-top: 4px solid #F13835;height: 100px;position:relative;border-top: 4px solid #F13835;font-family:tahoma;}

#wrapper #header img{ /* margin: 4px 65px; */ }
#wrapper #header #banner{top: 10px;left: 105px; position: absolute;}
#wrapper #header #banner p{    font: bold 22px "Times New Roman", Tahoma,arial,verdana,sans-serif;    color: #29abfe;}


#wrapper #header #contact
{
    top: 0px;
    right: 10px;
    position: absolute;
    
    
}

#wrapper #header #contact img
{
    width:24px;
    height:24px;
    display:block;
}

#wrapper #header #contact ul li
{
    margin:0px 2px;
    display: inline-block;
    
    font-size:11px;
    height:32px;    
    vertical-align: middle;
}
#wrapper #header #contact ul li p
{
    line-height:32px;
    color:#aaa;
}
#wrapper #header #contact ul li p:hover
{
    color:#29abfe;
}



#wrapper #data h3{background-color: #e8e9e8;padding:10px 10px;
                        -webkit-border-top-right-radius: 5px;
                        -moz-border-top-right-radius: 5px;
                        -o-border-top-right-radius: 5px;
                        border-top-right-radius: 5px;
                        
                        -webkit-border-top-left-radius: 5px;
                        -moz-border-top-left-radius: 5px;
                        -o-border-top-left-radius: 5px;
                        border-top-left-radius: 5px; 
                        height:22px;
                         }


#wrapper #data   #tool{
                            position:relative;background-color: #e8e9e8;padding:10px 10px;
                            height: 22px;
                            -webkit-border-top-right-radius: 5px;
                            -moz-border-top-right-radius: 5px;
                            -o-border-top-right-radius: 5px;
                            border-top-right-radius: 5px;
                            
                            -webkit-border-top-left-radius: 5px;
                            -moz-border-top-left-radius: 5px;
                            -o-border-top-left-radius: 5px;
                            border-top-left-radius: 5px;
                            }
                        
                       

#wrapper #data   #tool p{float:left;}
#wrapper #data   #tool img{float:right;margin:-10px 5px 0px 0px;}
#wrapper #data   #tool img:hover{cursor:pointer;}



#wrapper #data   #content{position:relative;overflow:auto;margin:5px 0px;padding:0px 3px;}
#wrapper #data   #content table{border-collapse: collapse;width:100%;}

#wrapper #data   #content table tr{height: 125px;}
#wrapper #data   #content table tr#first{height:30px;}

#wrapper #data   #content table th{width:208px;border:2px solid #a8a9a9;font-size:20px;padding:5px}
#wrapper #data   #content table th#ca{width:40px;}
#wrapper #data   #content table td{border:2px solid #a8a9a9;font-size:14px;padding:2px 5px;vertical-align: top;}
#wrapper #data   #content table td.ca{vertical-align: middle;text-align:center;}


                        