
/*It uses with almost interface */

#wrapper #data h3{background-color: #e8e9e8;padding:10px 10px;
                        -webkit-border-top-right-radius: 5px;
                        -moz-border-top-right-radius: 5px;
                        -o-border-top-right-radius: 5px;
                        border-top-right-radius: 5px;
                        
                        -webkit-border-top-left-radius: 5px;
                        -moz-border-top-left-radius: 5px;
                        -o-border-top-left-radius: 5px;
                        border-top-left-radius: 5px; 
                        height:36px;
                         }
#wrapper #data #left{float:left;width:188px;
                     min-height:600px;
                     border:1px solid #a1a2a1;
                     -webkit-border-radius: 5px;
                     -moz-border-radius: 5px;
                     -o-border-radius: 5px;
                     border-radius: 5px; 
                     -webkit-box-shadow: 0 0  8px #646564;
                     -moz-box-shadow: 0 0  8px #646564;
                                          
                     }


#wrapper #data #left ul li{margin:2px 0px 10px 0px;}
#wrapper #data #left ul li a{background: #e8e9e8;padding:8px 10px;display:block;
                        
                        }
#wrapper #data #left ul li a:hover{color: #023bfe;font-weight:bold;}
#wrapper #data #left ul li a.active{font-weight:bold;color: #023bfe;}
#wrapper #data #left ul li ul li{margin:5px 0px 0px 20px;}
#wrapper #data #left ul li ul li a{background:none;padding:0px;border:none;}

#wrapper #data #left ul li ul li a:hover{color: red;font-weight:bold;cursor:pointer;}
#wrapper #data #left ul li ul li.active a{color:red;font-weight:bold;}

#wrapper #data #right{float:right;width:958px;                                       
                      
                      min-height:600px;
                      -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -o-border-radius: 5px;
                        border-radius: 5px; 
                        position:relative;
                        
                        border:1px solid #a1a2a1;
                        -webkit-box-shadow: 0 0  8px #646564;
                        -moz-box-shadow: 0 0  8px #646564;
                      }
                      
#wrapper #data .box{                
                     -webkit-border-radius: 5px;
                     -moz-border-radius: 5px;
                     -o-border-radius: 5px;
                     border-radius: 5px;
                     margin:15px 0px 0px 150px;
                     position:relative;
             }

#wrapper #data  .box table {float:left;border-collapse:collapse;}
#wrapper #data  .box table td{border-bottom:1px dashed #e8e9e8;font-size:20px;padding:5px 10px}
#wrapper #data  .box table tr{height:38px;}
#wrapper #data  .box table tr:hover{background:#e8e9e8;}
#wrapper #data  .box table input,
#wrapper #data  .box table select,
#wrapper #data  .box table textarea{font-size:18px;width:300px;resize: none ;}

#wrapper #data  .box table.info td:first-child{text-align: right;}
#wrapper #data  .box table.error td{font-size:14px;}
#wrapper #data  .box table.error td span{color:red;}
#wrapper #data  .box table.error tr:hover{background:none;}

#wrapper #data #right #content table{table-layout: fixed;}
#wrapper #data #right #content table tr{height:30px;}
#wrapper #data #right #content table tr#first{height:0px;display:none;}
#wrapper #data #right #content table td{border:1px solid #e8e9e8;text-align:center;font-size:14px;}