
*{margin:0px;padding:0px;}
a{text-decoration:none;}
a:hover{cursor:pointer;opacity:1;}
body
{
	background: url(../../images/index/body_bg.png);
    
}
#wrapper
{
    width:1280px;
    margin:0px auto;
	background-color:#fff;
    
    -webkit-box-shadow: 0px 0px  10px #646564;
    -moz-box-shadow: 0px 0px 10px #646564;
    box-shadow: 0px 0px 10px #646564;
    overflow:auto;
}
#wrapper #top ul
{
    list-style: none;
    float:right;
}
#wrapper #top ul li
{
    display:inline-block;
    line-height: 31px;
    margin:0px 5px 0px 10px;
    color:#fff;
}
#wrapper #top ul li a
{
    color:#fff;
}
#wrapper #top ul li a.active
{
    opacity:1;
}
#wrapper #header{border-top: 4px solid #F13835;height: 100px;position:relative;border-top: 4px solid #F13835;font-family:tahoma;}

#wrapper #header img{ /* margin: 4px 65px; */ }
#wrapper #header #banner{top: 10px;left: 105px; position: absolute;}
#wrapper #header #banner p{    font: bold 22px "Times New Roman", Tahoma,arial,verdana,sans-serif;    color: #29abfe;}


#wrapper #header #contact
{
    top: 0px;
    right: 10px;
    position: absolute;
    
    
}

#wrapper #header #contact img
{
    width:24px;
    height:24px;
    display:block;
}

#wrapper #header #contact ul li
{
    margin:0px 2px;
    display: inline-block;
    
    font-size:11px;
    height:32px;    
    vertical-align: middle;
}
#wrapper #header #contact ul li p
{
    line-height:32px;
    color:#aaa;
}
#wrapper #header #contact ul li p:hover
{
    color:#29abfe;
}



/*It uses with almost interface */

#wrapper #left{width:980px;float:left;min-height:800px;}
#wrapper  #left #content table{border: 1px solid #DCDDDE;border-collapse: collapse;}
#wrapper  #left #content table tr#first{height:30px;background: #DCDDDE;}
#wrapper  #left #content table tr{height:104px;}
#wrapper  #left #content table th{text-align:center;font-size:18px;line-height:40px;}
#wrapper  #left #content table td{border-top:1px solid #DCDDDE;border-right:1px solid #DCDDDE;text-align:center;vertical-align: top;}
#wrapper  #left #content table tr td.ca{width: 60px;vertical-align: middle;}
#wrapper  #left #content table td.info{width:160px;overflow:hidden;padding:5px 2px;}
#wrapper #data h3{padding:10px 10px;
                        -webkit-border-top-right-radius: 5px;
                        -moz-border-top-right-radius: 5px;
                        -o-border-top-right-radius: 5px;
                        border-top-right-radius: 5px;
                        
                        -webkit-border-top-left-radius: 5px;
                        -moz-border-top-left-radius: 5px;
                        -o-border-top-left-radius: 5px;
                        border-top-left-radius: 5px; 
                        height:22px;
                         }
#wrapper #data #left{float:left;width:980px;
                     min-height:600px;
                     border:1px solid #a1a2a1;
                     -webkit-border-radius: 5px;
                     -moz-border-radius: 5px;
                     -o-border-radius: 5px;
                     border-radius: 5px; 
                     -webkit-box-shadow: 0 0  8px #646564;
                     -moz-box-shadow: 0 0  8px #646564;
                                          
                     }


#wrapper #data #left ul li{margin:2px 0px 10px 0px;}
#wrapper #data #left ul li a{background: #e8e9e8;padding:8px 10px;display:block;
                        
                        }
#wrapper #data #left ul li a:hover{color: #023bfe;font-weight:bold;}
#wrapper #data #left ul li a.active{font-weight:bold;color: #023bfe;}
#wrapper #data #left ul li ul li{margin:5px 0px 0px 20px;}
#wrapper #data #left ul li ul li a{background:none;padding:0px;border:none;}

#wrapper #data #left ul li ul li a:hover{color: red;font-weight:bold;cursor:pointer;}
#wrapper #data #left ul li ul li.active a{color:red;font-weight:bold;}

#wrapper #data #right{float:right;width:260px;padding-right:15px;}
#wrapper #data #right #tool{
                            position:relative;background-color: #e8e9e8;padding:10px 10px;
                            height: 22px;
                            -webkit-border-top-right-radius: 5px;
                            -moz-border-top-right-radius: 5px;
                            -o-border-top-right-radius: 5px;
                            border-top-right-radius: 5px;
                            
                            -webkit-border-top-left-radius: 5px;
                            -moz-border-top-left-radius: 5px;
                            -o-border-top-left-radius: 5px;
                            border-top-left-radius: 5px;
                            }
                        
                       

#wrapper #data #right #tool p{float:left;}
#wrapper #data #right #tool img{float:right;margin:-10px 5px 0px 0px;}
#wrapper #data #right #tool img:hover{cursor:pointer;}



#wrapper #data #right #content{position:relative;overflow:auto;margin:5px 0px;padding:0px 3px;}
#wrapper #data #right #content table{border-collapse: collapse;}

#wrapper #data #right #content table tr{height: 125px;}
#wrapper #data #right #content table tr#first{height:30px;}

#wrapper #data #right #content table th{width:170px;border:2px solid #a8a9a9;font-size:20px;padding:5px}
#wrapper #data #right #content table th#ca{width:40px;}
#wrapper #data #right #content table td{border:2px solid #a8a9a9;font-size:14px;padding:2px 5px;vertical-align: top;}
#wrapper #data #right #content table td.ca{vertical-align: middle;text-align:center;}

.popup_detail#view {width:900px;top:5%;left:20%;}
.popup_detail#export {width:900px;top:5%;left:20%;}                        
#taikhoan{
	height: 280px;
	-webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              -o-border-radius: 5px;
              border-radius: 5px;                      
              
	-webkit-box-shadow: 0px 0px  10px #646564;
              -moz-box-shadow: 0px 0px 10px #646564;
}
#taikhoan div.box_header{background: url(../../images/index/blue_bg.jpg) repeat-x;}
#taikhoan div.box_header h3{text-align:center;line-height:16px;color:#fff;}
#taikhoan #taikhoancontent{padding:5px;}
#taikhoan #taikhoancontent p{font-size: 15px;padding: 5px 2px;line-height: 20px;}
#taikhoan #taikhoancontent p#action{margin-top:2px;}
#taikhoan #taikhoancontent p#action{margin-top:2px;}
#taikhoan #taikhoancontent a{font-size: 13px;
color: #000;
background: url(../../images/index/blue_bg.jpg) repeat-x;
padding: 5px 20px;
height: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 2px 2px 6px #646564;
-moz-box-shadow: 2px 2px 6px #646564;
line-height: 20px;
text-align: center;
text-decoration: none;}

