
*{margin:0px;padding:0px;}
a{text-decoration:none;}
a:hover{cursor:pointer;opacity:1;}
body
{
	background: url(../../images/index/body_bg.png);
    
}
#wrapper
{
    width:1280px;
    margin:0px auto;
	background:#fff;
    /* background: #29abfe; */
    -webkit-box-shadow: 0px 0px  10px #646564;
    -moz-box-shadow: 0px 0px 10px #646564;
    box-shadow: 0px 0px 10px #646564;
}
#wrapper #top ul
{
    list-style: none;
    float:right;
}
#wrapper #top ul li
{
    display:inline-block;
    line-height: 31px;
    margin:0px 5px 0px 10px;
    color:#fff;
}
#wrapper #top ul li a
{
    color:#fff;
}
#wrapper #top ul li a.active
{
    opacity:1;
}
#wrapper #header{border-top: 4px solid #F13835;height: 100px;position:relative;border-top: 4px solid #F13835;font-family:tahoma;}

#wrapper #header img{ /* margin: 4px 65px; */ }
#wrapper #header #banner{top: 10px;left: 105px; position: absolute;}
#wrapper #header #banner p{    font: bold 22px "Times New Roman", Tahoma,arial,verdana,sans-serif;    color: #29abfe;}


#wrapper #header #contact
{
    top: 0px;
    right: 10px;
    position: absolute;
    
    
}

#wrapper #header #contact img
{
    width:24px;
    height:24px;
    display:block;
}

#wrapper #header #contact ul li
{
    margin:0px 2px;
    display: inline-block;
    
    font-size:11px;
    height:32px;    
    vertical-align: middle;
}
#wrapper #header #contact ul li p
{
    line-height:32px;
    color:#aaa;
}
#wrapper #header #contact ul li p:hover
{
    color:#29abfe;
}


/*It uses with almost interface */

#wrapper #data h3{background-color: #e8e9e8;padding:10px 10px;
                        -webkit-border-top-right-radius: 5px;
                        -moz-border-top-right-radius: 5px;
                        -o-border-top-right-radius: 5px;
                        border-top-right-radius: 5px;
                        
                        -webkit-border-top-left-radius: 5px;
                        -moz-border-top-left-radius: 5px;
                        -o-border-top-left-radius: 5px;
                        border-top-left-radius: 5px; 
                        height:22px;
                         }


#wrapper #data   #tool{
                            position:relative;background-color: #e8e9e8;padding:10px 10px;
                            height: 22px;
                            -webkit-border-top-right-radius: 5px;
                            -moz-border-top-right-radius: 5px;
                            -o-border-top-right-radius: 5px;
                            border-top-right-radius: 5px;
                            
                            -webkit-border-top-left-radius: 5px;
                            -moz-border-top-left-radius: 5px;
                            -o-border-top-left-radius: 5px;
                            border-top-left-radius: 5px;
                            }
                        
                       

#wrapper #data   #tool p{float:left;}
#wrapper #data   #tool img{float:right;margin:-10px 5px 0px 0px;}
#wrapper #data   #tool img:hover{cursor:pointer;}



#wrapper #data   #content{margin:5px 0px;padding:0px 3px;}
#wrapper #data #content div.tailieu{margin-top:20px;margin-left:20px;position:relative;height:40px;}
#wrapper #data #content div.tailieu div{position:absolute;top:8px;}
#wrapper #data #content div.tailieu div.stt{left:10px;width:25px;}
#wrapper #data #content div.tailieu div.tentailieu{left:35px;width:380px;}
#wrapper #data #content div.tailieu div.dungluong{left:430px;width:150px;}
#wrapper #data #content div.tailieu div.ngayupload{left:650px;}
#wrapper #data #content div.tailieu:hover div.del{background:url("../../images/bin.png");left:800px;height:30px;width:30px;top:0px;cursor:pointer;opacity:.4;}
#wrapper #data #content div.tailieu:hover div.del:hover{opacity:1;}
#wrapper #data #content div.uploading{margin: 10px auto;text-align: center;position: relative;width:83%;height:60px;display: none;}
#wrapper #data #content div.uploading .progress{border: 1px solid #ccc;
background-image: -webkit-linear-gradient(top, #F2F2F2, white);
background-image: -moz-linear-gradient(top, #F2F2F2, white);
background-image: -ms-linear-gradient(top, #F2F2F2, white);
background-image: -o-linear-gradient(top, #F2F2F2, white);
background-image: linear-gradient(top, #F2F2F2, white);
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
-moz-box-shadow: 0px 1px 0px #fff, inset 0 1px 3px 0 rgba(0,0,0,.1);
-webkit-box-shadow: 0px 1px 0px #fff, inset 0 1px 3px 0 rgba(0,0,0,.1);
box-shadow: 0px 1px 0px #fff, inset 0 1px 3px 0 rgba(0,0,0,.1);
width: 100%; height: 20px;}
#wrapper #data #content div.uploading .progress #bar{height:20px;width:0%;position:absolute;
-moz-border-radius: 4px 0 0 4px;
-webkit-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background: #47A9EB;
background-image: -webkit-linear-gradient(top, transparent, rgba(14, 74, 113, .2));
background-image: -moz-linear-gradient(top, transparent, rgba(14, 74, 113, .2));
background-image: -ms-linear-gradient(top, transparent, rgba(14, 74, 113, .2));
background-image: -o-linear-gradient(top, transparent, rgba(14, 74, 113, .2));
background-image: linear-gradient(top, transparent, rgba(14, 74, 113, .2));
-webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.25), 0 2px 0px 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0, 83, 138, .6), inset 0 0 0px 1px rgba(255,255,255,.15);
-moz-box-shadow: 0 1px 0 0 rgba(0,0,0,.25), 0 2px 0px 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0, 83, 138, .6), inset 0 0 0px 1px rgba(255,255,255,.15);
box-shadow: 0 1px 0 0 rgba(0,0,0,.25), 0 2px 0px 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0, 83, 138, .6), inset 0 0 0px 1px rgba(255,255,255,.15);}
#wrapper #data #content div.uploading .progress #convert{top:0px;left:0px;position:absolute;height: 23px; width: 101%;background:url("../../images/busy.gif");z-index:10;display:none;}
#wrapper #data #content div.uploading #percent{position: absolute; left: 50%; top: 25px;font-weight:bold;}
#wrapper #data #content #form{margin:50px 10px;}
#wrapper #data #content #form div.input{position:relative;height:40px;}
#wrapper #data #content #form div.input input{position:absolute;top:5px;width:320px;}
#wrapper #data #content #form div.input div.addfile{position:absolute;background:url("../../images/new.png");width:32px;height:32px;left:350px;opacity:0.6;}
#wrapper #data #content #form div.input div.addfile:hover{opacity:1;cursor:pointer;}
#wrapper #data #content #form div.input div.removefile{position:absolute;background:url("../../images/remove.png");width:32px;height:32px;left:400px;opacity:0.6;}
#wrapper #data #content #form div.input div.removefile:hover{opacity:1;cursor:pointer;}
#wrapper #data #content #form #submit-upload{background:url("../../images/accept.png");width:48px;height:48px;opacity:0.6;}
#wrapper #data #content #form #submit-upload:hover{opacity:1;cursor:pointer;}

#tabs
{
    overflow: auto;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

#tabs li
{
    margin: 0;
    padding: 0;
    float: left;
}

#tabs a
{
    -moz-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    background: #ad1c1c;
    background:    -moz-linear-gradient(220deg, transparent 10px, #ad1c1c 10px);
    background:    -webkit-linear-gradient(220deg, transparent 10px, #ad1c1c 10px);     
    background:     -ms-linear-gradient(220deg, transparent 10px, #ad1c1c 10px); 
    background:      -o-linear-gradient(220deg, transparent 10px, #ad1c1c 10px); 
    background:         linear-gradient(220deg, transparent 10px, #ad1c1c 10px);
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    color: #fff;
    float: left;
    font: bold 12px/35px 'Lucida sans', Arial, Helvetica;
    height: 35px;
    width: 80px;
    padding: 0 30px;
    text-decoration: none;
}

#tabs a:hover
{
    background: #c93434;
    background:    -moz-linear-gradient(220deg, transparent 10px, #c93434 10px);
    background:    -webkit-linear-gradient(220deg, transparent 10px, #c93434 10px);     
    background:     -ms-linear-gradient(220deg, transparent 10px, #c93434 10px); 
    background:      -o-linear-gradient(220deg, transparent 10px, #c93434 10px); 
    background:         linear-gradient(220deg, transparent 10px, #c93434 10px);     
}

#tabs a:focus
{
    outline: 0;
}

#tabs #current a
{
    background: #565656;
    background:    -moz-linear-gradient(220deg, transparent 10px, #565656 10px);
    background:    -webkit-linear-gradient(220deg, transparent 10px, #565656 10px);     
    background:     -ms-linear-gradient(220deg, transparent 10px, #565656 10px); 
    background:      -o-linear-gradient(220deg, transparent 10px, #565656 10px); 
    background:         linear-gradient(220deg, transparent 10px, #565656 10px);
    text-shadow: none;    
}

#tabcontent
{
    height: 500px;
    overflow-y: auto;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    background-image: -webkit-linear-gradient(top, #fff, #ddd); 
    background-image:    -moz-linear-gradient(top, #fff, #ddd); 
    background-image:     -ms-linear-gradient(top, #fff, #ddd); 
    background-image:      -o-linear-gradient(top, #fff, #ddd); 
    background-image:         linear-gradient(top, #fff, #ddd);
    -moz-border-radius: 0 2px 2px 2px;
    -webkit-border-radius: 0 2px 2px 2px;
    border-radius: 0 2px 2px 2px;
    -moz-box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    -webkit-box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    padding: 30px;
}

/* Remove the rule below if you want the content to be "organic" */
#tabcontent div
{

