#wrapper #data a{color:blue;text-decoration:underline;}

#wrapper #data h3{background-color: #e8e9e8;padding:10px 10px;
                        -webkit-border-top-right-radius: 5px;
                        -moz-border-top-right-radius: 5px;
                        -o-border-top-right-radius: 5px;
                        border-top-right-radius: 5px;
                        
                        -webkit-border-top-left-radius: 5px;
                        -moz-border-top-left-radius: 5px;
                        -o-border-top-left-radius: 5px;
                        border-top-left-radius: 5px; 
                       position:relative; 
                         }
  
#wrapper #data h3 span{position:absolute;top:10px;right:20px;font-size:14px;}

#wrapper #data #right{width:100%;                                         
                      padding:0px;
                      min-height:600px;
                      -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -o-border-radius: 5px;
                        border-radius: 5px; 
                        position:relative;
                        margin-top:0px;
                        border:1px solid #a1a2a1;
                        -webkit-box-shadow: 0 0  8px #646564;
                        -moz-box-shadow: 0 0  8px #646564;
                        overflow:auto;
                      }


#wrapper #data .box{                
                     
                     margin:10px 10px 10px 10px;                     
                     overflow:auto;
                     position:relative;
                     
             }

#wrapper #data  .box table {float:left;border-collapse:collapse;margin:0px;}

#wrapper #data  .box table tr{height: 150px;}
#wrapper #data  .box table tr#first{height:30px;}

#wrapper #data  .box table th{width:210px;border:2px solid #a8a9a9;font-size:20px;padding:5px}
#wrapper #data  .box table th#ca{width:40px;}
#wrapper #data  .box table td{border:2px solid #a8a9a9;font-size:20px;padding:2px 5px;vertical-align: top;}
#wrapper #data  .box table td p.item{font-size:10px;border: 1px solid #000;margin:2px 0px;padding:0px 5px;margin:2px 0px;background-color:#cff4fb;}
#wrapper #data  .box table td p.item span#magv{display:none;}
#wrapper #data  .box table td p#magv{display:none;}
#wrapper #data  .box table td p#phong{display:none;}
#wrapper #data  .box table td p.item:hover{cursor:move;}
#wrapper #data  .box table td.ca{vertical-align: middle;text-align:center;}




                 
#wrapper #data  #action {height: 50px;
                        width: 100%;
                        background-color:#e8e9e8;
                        -webkit-border-bottom-right-radius: 5px;
                        -moz-border-bottom-right-radius: 5px;
                        -o-border-bottom-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        -webkit-border-bottom-left-radius: 5px;
                        -moz-border-bottom-left-radius: 5px;
                        -o-border-bottom-left-radius: 5px;
                        border-bottom-left-radius: 5px;                                    
                        position:relative;         
                        }
#wrapper #data  #action a{float:left;color:blue;line-height:50px;margin:0px 10px;}
#wrapper #data  #action a:hover{text-decoration:underline;}
#wrapper #data  #action img{margin:1px 10px 1px 10px;opacity:0.65;width:48px;height:48px;}
#wrapper #data  #action img:hover{cursor:pointer;opacity:1;}
#wrapper #data  #action img#process,
#wrapper #data  #action img#save{display:none;float:right;}

#wrapper #data #message {display:none;position:fixed;top:30%;right:2%;}


                     
                        

                        