
/*It uses with almost interface */

#wrapper #data h3{background-color: #e8e9e8;padding:10px 10px;
                        -webkit-border-top-right-radius: 5px;
                        -moz-border-top-right-radius: 5px;
                        -o-border-top-right-radius: 5px;
                        border-top-right-radius: 5px;
                        
                        -webkit-border-top-left-radius: 5px;
                        -moz-border-top-left-radius: 5px;
                        -o-border-top-left-radius: 5px;
                        border-top-left-radius: 5px; 
                       
                        
                         }
#wrapper #data #left{float:left;width:168px;
                     min-height:600px;
                     border:1px solid #a1a2a1;
                     -webkit-border-radius: 5px;
                     -moz-border-radius: 5px;
                     -o-border-radius: 5px;
                     border-radius: 5px; 
                     -webkit-box-shadow: 0 0  8px #646564;
                     -moz-box-shadow: 0 0  8px #646564;
                                          
                     }

#wrapper #data #left h3{text-align:center;height: 22px;padding:6px 10px;}
#wrapper #data #left ul li{margin:2px 0px 10px 0px;}
#wrapper #data #left ul li a{background: #e8e9e8;padding:8px 10px;display:block;
                        
                        }
#wrapper #data #left ul li a:hover{color: #023bfe;font-weight:bold;}
#wrapper #data #left ul li a.active{font-weight:bold;color: #023bfe;}
#wrapper #data #left ul li ul li{margin:5px 0px 0px 20px;}
#wrapper #data #left ul li ul li a{background:none;padding:0px;border:none;}

#wrapper #data #left ul li ul li a:hover{color: red;font-weight:bold;cursor:pointer;}
#wrapper #data #left ul li ul li.active a{color:red;font-weight:bold;}

#wrapper #data #right{float:right;width:978px;                                       
                      
                      min-height:600px;
                      -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -o-border-radius: 5px;
                        border-radius: 5px; 
                        position:relative;
                        
                        border:1px solid #a1a2a1;
                        -webkit-box-shadow: 0 0  8px #646564;
                        -moz-box-shadow: 0 0  8px #646564;
                      }
#wrapper #data #right #tool{
                            position:relative;background-color: #e8e9e8;padding:6px 10px;
                            
                            -webkit-border-top-right-radius: 5px;
                            -moz-border-top-right-radius: 5px;
                            -o-border-top-right-radius: 5px;
                            border-top-right-radius: 5px;
                            
                            -webkit-border-top-left-radius: 5px;
                            -moz-border-top-left-radius: 5px;
                            -o-border-top-left-radius: 5px;
                            border-top-left-radius: 5px;
                            height: 22px;
                            
                            }
                        
                       


#wrapper #data #right #tool p#total{display:none;}
#wrapper #data #right #tool img{position:absolute;top:0px;right:10px;}
#wrapper #data #right #tool img:hover{cursor:pointer;}


#wrapper #data #right #content{position:relative;overflow:auto;width:100%;margin:2px 0px;}
#wrapper #data #right #content table{border-collapse: collapse;}



#wrapper #data #right #content table#tempt{width:976px;}
#wrapper #data #right #content table#tempt tr{height:32px;}
#wrapper #data #right #content table#tempt th{background:#e8e9e8;}
#wrapper #data #right #content table#tempt select{font-size:10px;width: 46px;}
#wrapper #data #right #content table{table-layout: fixed;}
#wrapper #data #right #content table tr{height:30px;}
#wrapper #data #right #content table tr#first{height:0px;display:none;}
#wrapper #data #right #content table td{border:1px solid #e8e9e8;text-align:center;font-size:14px;}

#wrapper #data #right #content table th#stt{width:100px;}
#wrapper #data #right #content table th#masv{width:150px;}
#wrapper #data #right #content table th#tensv{width:240px;text-align:left;}




#wrapper #data #right #change_data{min-height:500px;}
#wrapper #data #right #change_data #scroll{overflow-y:auto;overflow-x:hidden;height:500px;}

#wrapper #data #right #change_data #table_data{width:976px;}
#wrapper #data #right #change_data #table_data tr.active,
#wrapper #data #right #change_data #table_data tr:hover{background:#bdf7f5;}                        
#wrapper #data #right #change_data #table_data td.malop:hover{text-decoration:underline;cursor:pointer;color:blue;}
                      

#wrapper #data #right #change_data td.stt {width:100px;}
#wrapper #data #right #change_data td.masv{width:150px;}
#wrapper #data #right #change_data td.tensv{width:240px;}




.popup_detail#view {width:900px;top:5%;left:20%;}
.popup_detail#view #pdata table input,
.popup_detail#view #pdata table select,
.popup_detail#view #pdata table textarea{font-size:18px;width:350px;border:none;resize: none;}
.popup_detail#export {width:900px;top:5%;left:20%;}                        