
#wrapper #data h3{background-color: #e8e9e8;padding:10px 10px;
                        -webkit-border-top-right-radius: 5px;
                        -moz-border-top-right-radius: 5px;
                        -o-border-top-right-radius: 5px;
                        border-top-right-radius: 5px;
                        
                        -webkit-border-top-left-radius: 5px;
                        -moz-border-top-left-radius: 5px;
                        -o-border-top-left-radius: 5px;
                        border-top-left-radius: 5px; 
                        
                         }
#wrapper #data #left{float:left;width:168px;
                     min-height:600px;
                     border:1px solid #a1a2a1;
                     -webkit-border-radius: 5px;
                     -moz-border-radius: 5px;
                     -o-border-radius: 5px;
                     border-radius: 5px; 
                     -webkit-box-shadow: 0 0  8px #646564;
                     -moz-box-shadow: 0 0  8px #646564;
                                          
                     }


#wrapper #data #left ul li{margin:2px 0px 10px 0px;}
#wrapper #data #left ul li a{background: #e8e9e8;padding:8px 10px;display:block;
                        
                        }
#wrapper #data #left ul li a:hover{color: #023bfe;font-weight:bold;}
#wrapper #data #left ul li a.active{font-weight:bold;color: #023bfe;}
#wrapper #data #left ul li ul li{margin:5px 0px 0px 20px;}
#wrapper #data #left ul li ul li a{background:none;padding:0px;border:none;}

#wrapper #data #left ul li ul li a:hover{color: red;font-weight:bold;cursor:pointer;}


#wrapper #data #right{float:right;width:978px;                                         
                      padding:0px;
                      min-height:600px;
                      -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -o-border-radius: 5px;
                        border-radius: 5px; 
                        position:relative;
                        margin-top:0px;
                        border:1px solid #a1a2a1;
                        -webkit-box-shadow: 0 0  8px #646564;
                        -moz-box-shadow: 0 0  8px #646564;
                      }


#wrapper #data .box{                
                     -webkit-border-radius: 5px;
                     -moz-border-radius: 5px;
                     -o-border-radius: 5px;
                     border-radius: 5px;                     
                     position:relative;
             }




#wrapper #data .data_box{position: relative;border:none;margin:0px;padding:10px;}
#wrapper #data .data_box p{margin-left:40px;font-size:18px;}
#wrapper #data .data_box h4 span{color:#023bfe;font-size:18px;
                            background: #fff url("../../images/show_hide.png") 0px 0px no-repeat;
                            padding:0px  0px 0px 15px;}
                            
#wrapper #data .data_box h4:hover{cursor:pointer;}
#wrapper #data .data_box ul{list-style: none;}
#wrapper #data .data_box ul li{padding:5px 0px;margin:0px 40px;}
#wrapper #data .data_box ul li:hover{cursor:pointer;}
#wrapper #data .data_box ul li span{background: url("../../images/show_hide.png") 0px 0px no-repeat;
                            padding:0px  0px 0px 15px;}
#wrapper #data .data_box ul ul{list-style: circle;}
#wrapper #data .data_box ul li li{display:none;}
#wrapper #data .data_box ul li li{padding:2px 0px;margin:0px 80px;background:none;}
#wrapper #data .data_box ul li li:hover{cursor:default;}
#wrapper #data .data_box a{color:blue;text-decoration: underline;}
