#wrapper{width:500px;border:1px solid red;}
#wrapper table{width:500px;border-collapse:collapse;}
#wrapper table tr{height:30px;}
#wrapper table th,
#wrapper table td{text-align: left;border:2px solid #ebeae7 }
#pagination{background:#ebeae7 ;padding:20px 100px;}
#pagination b{font-size:20px;padding:0px 5px;}
#pagination b.active{color:#000;background-color: #0b9bf6;}
#pagination a{color:#000;text-decoration: none;padding:0px 5px;font-size:20px;}
#pagination a:hover{text-decoration:underline;background-color:#0b9bf6;}