/*default css */

*{margin:0px;padding:0px;}
a{text-decoration:none;}
a:hover{cursor:pointer;opacity:1;}
body
{
	background: url(../../images/index/body_bg.png);
    
}
#wrapper
{
    width:1280px;
    margin:0px auto;
	background:#fff;
    /* background: #29abfe; */
    -webkit-box-shadow: 0px 0px  10px #646564;
    -moz-box-shadow: 0px 0px 10px #646564;
    box-shadow: 0px 0px 10px #646564;
}
#wrapper #top ul
{
    list-style: none;
    float:right;
}
#wrapper #top ul li
{
    display:inline-block;
    line-height: 31px;
    margin:0px 5px 0px 10px;
    color:#fff;
}
#wrapper #top ul li a
{
    color:#fff;
}
#wrapper #top ul li a.active
{
    opacity:1;
}
#wrapper #header{border-top: 4px solid #F13835;height: 100px;position:relative;border-top: 4px solid #F13835;font-family:tahoma;}

#wrapper #header img{ /* margin: 4px 65px; */ }
#wrapper #header #banner{top: 10px;left: 105px; position: absolute;}
#wrapper #header #banner p{    font: bold 22px "Times New Roman", Tahoma,arial,verdana,sans-serif;    color: #29abfe;}


#wrapper #header #contact
{
    top: 0px;
    right: 10px;
    position: absolute;
    
    
}

#wrapper #header #contact img
{
    width:24px;
    height:24px;
    display:block;
}

#wrapper #header #contact ul li
{
    margin:0px 2px;
    display: inline-block;
    
    font-size:11px;
    height:32px;    
    vertical-align: middle;
}
#wrapper #header #contact ul li p
{
    line-height:32px;
    color:#aaa;
}
#wrapper #header #contact ul li p:hover
{
    color:#29abfe;
}





#wrapper .box{-webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              -o-border-radius: 5px;
              border-radius: 5px;                      
              -webkit-box-shadow: 0px 0px  10px #646564;
              -moz-box-shadow: 0px 0px 10px #646564;
			 
            }
#wrapper .box_header{background: url(../../images/index/blue_bg.jpg) repeat-x;
                    height:20px;
                    -webkit-border-top-left-radius: 5px;
                    -moz-border-top-left-radius: 5px;
                    -o-border-top-left-radius: 5px;
                    border-top-left-radius: 5px;
                    -webkit-border-top-right-radius: 5px;
                    -moz-border-top-right-radius: 5px;
                    -o-border-top-right-radius: 5px;
                    border-top-right-radius: 5px;   
                    padding:5px;
					}
#wrapper .box_data{padding:5px;}
#wrapper .box_header h3{color:#fff;line-height:20px;}    
#wrapper #primary{min-height:800px;margin:0px 5px;background:#fff;overflow:auto;
                    -webkit-border-top-left-radius: 5px;
                    -moz-border-top-left-radius: 5px;
                    -o-border-top-left-radius: 5px;
                    border-top-left-radius: 5px;}

#wrapper #primary #left{width:980px;float:left;min-height:800px;}

#wrapper #primary #left #content table{border: 1px solid #DCDDDE;border-collapse: collapse;width:100%;}
#wrapper #primary #left #content table tr#first{height:30px;background: #DCDDDE;}
#wrapper #primary #left #content table tr{height:24px;}
#wrapper #primary #left #content table tr.even{background-color:#eeecec;}
#wrapper #primary #left #content table tr:hover{background-color:#cbfbe0;}
#wrapper #primary #left #content table td,
#wrapper #primary #left #content table th{border-top:1px dashed #DCDDDE;border-right:1px solid #DCDDDE;text-align:center;}
#wrapper #primary #left #content table td:nth-child(3){text-align:left;}
#wrapper #primary #left #content table tr td:last-child p{color: #3761FF;}/*3761FF*/
#wrapper #primary #left #content table tr td:last-child p.denghi{opacity:0.5;}
#wrapper #primary #left #content table tr td:last-child p:hover{cursor: pointer;color: blue;opacity:1;}
#wrapper #primary #left #content table th#hk{width:60px;}
#wrapper #primary #left #content table th#mamh{width:120px;}
#wrapper #primary #left #content table th#tenmh{width:260px;}
#wrapper #primary #left #content table th#sotc{width:80px;}
#wrapper #primary #left #content table th#tclt{width:80px;}
#wrapper #primary #left #content table th#tcth{width:80px;}
#wrapper #primary #left #content table th#diem{width:100px;}


#wrapper #primary #left #content a#dangky{background: url(../../images/index/blue_bg.jpg) repeat-x;
                                                  color:#fff;
                                                  padding:5px 20px;
                                                  display:block;
                                                -webkit-border-radius: 5px;
                                                -moz-border-radius: 5px;
                                                -o-border-radius: 5px;
                                                border-radius: 5px;                      
                                                -webkit-box-shadow: 2px 2px  6px #646564;
                                                -moz-box-shadow: 2px 2px 6px #646564;
                                                line-height:20px;
                                                text-align:center;
                                                border:1px dashed #ebebeb;
                                                margin:5px 0px 15px 752px;
                                                width:100px;                                                
                                                font-size:14px;
                                                }

#wrapper #primary #left #content a#dangky:hover{font-weight:bold;cursor:pointer;color:#fff;}

div.popupdetail{   opacity: 1;
                top: 50%;
                left: 50%;
                margin-left: -445px;
                margin-top: -250px;
                width: 890px;
                height: 500px;
                background-color: white;
                position: fixed;
                z-index: 50;
                box-shadow: 0px 0px 10px #ccc;
				display:none;}
div.popupdetail div.class{background-color: #29abfe;color: white;line-height: 50px;height: 50px;font-size: 22px;text-align: center;font-weight: bold;}
div.popupdetail p{font-size:18px;font-weight:bold;margin:5px 0px 3px 18px;}
div.popupdetail table{margin-left: 20px;width: 810px;text-align: center;}

div.popupdetail table tr{height: 30px;}
div.popupdetail table tr.full{background-color: #FF120A;opacity: .9;}
div.popupdetail table tr td, th{border: 1px solid #e8e9e8;}
div.popupdetail table tr.full td{border-left: none;border-right: none;}
div.popupdetail table tr td:last-child{border: none;background-color: white;padding:0px 0px 0px 10px;}
div.popupdetail table tr td:last-child input[type="checkbox"]{cursor: pointer;}
	 

div.popupdetail table th#x1{width:120px;}
div.popupdetail table th#x2{width:200px;text-align:left;}
div.popupdetail table th#x3{width:170px;text-align:left;}     
div.popupdetail table th#x4{width:55px;}
div.popupdetail table th#x5{width:55px;}
div.popupdetail table th#x6{width:55px;}
div.popupdetail table th#x7{width:55px;}
div.popupdetail table th#x8{width:55px;}
div.popupdetail table th#x9{width:55px;}

div.popupdetail table td.TenGV{text-align:left;}
div.popupdetail table td.TenMH{text-align:left;}

div.popupdetail div.select{position: absolute;top: 440px;left: 790px;background: url(../../images/index/btnaccept.png) no-repeat;height: 59px;width: 58px;z-index:10;}
div.popupdetail div.select:hover{background: url(../../images/index/btnaccept_hover.png) no-repeat;cursor: pointer;}
div.popupdetail div.note{position: absolute;background-color: #29abfe;top: 440px;height: 60px;width: 100%;}
div.popupdetail div.note p{font-size: 14px;line-height: 24px;}

div#monnhom {opacity: 1;
                top: 50%;
                left: 50%;
                margin-left: -445px;
                margin-top: -250px;
                width: 890px;
                height: 500px;
                background-color: white;
                position: fixed;
                z-index: 50;
                box-shadow: 0px 0px 10px #ccc; 
				cursor:default;
				display:none;}
div#monnhom div#mntop{background-color: #29abfe;color: white;height: 55px;text-align:center;line-height: 42px;}
div#monnhom div#mntop div.mnshow{height: 42px;float: left;margin:13px 0px 0px 10px;
                                color: black;width: 240px;
                                font-size:21px;
                                font-weight:bold;
                                background:url(../../images/index/mtcshow_bg.png) repeat-x;
                                -webkit-border-top-left-radius: 5px;
                                -moz-border-top-left-radius: 5px;
                                -o-border-top-left-radius: 5px;
                                border-top-left-radius: 5px;  
                                
                                -webkit-border-top-right-radius: 5px;
                                -moz-border-top-right-radius: 5px;
                                -o-border-top-right-radius: 5px;
                                border-top-right-radius: 5px;  
                                cursor:pointer;
                                }
div#monnhom div#mntop div.mnnormal{height: 42px;float: left;margin:20px 0px 0px 10px;
                                color: #bcb8b8;width: 240px;
                                font-size:21px;                                
                                background:url(../../images/index/mtcshow_bg.png) repeat-x;
                                -webkit-border-top-left-radius: 5px;
                                -moz-border-top-left-radius: 5px;
                                -o-border-top-left-radius: 5px;
                                border-top-left-radius: 5px;  
                                
                                -webkit-border-top-right-radius: 5px;
                                -moz-border-top-right-radius: 5px;
                                -o-border-top-right-radius: 5px;
                                border-top-right-radius: 5px;  
                                cursor:pointer;}
div#monnhom div#mntop div.mnhide{height: 47px;
                                float: left;
                                margin:17px 0px 0px 10px;color: #BDBDBD;width: 240px;font-size:21px;font-weight:bold;}
div#monnhom div#mntop div.mnnormal:hover{
                                margin:13px 0px 0px 10px;
                                color: black;                                
                                
}
div#monnhom div#mncontent{margin-top: 4px;padding:10px 10px;}
div#monnhom div#mncontent p{font-size:18px;font-weight:bold;margin-bottom:2px;}
div#monnhom div#mncontent div.divmnnormal{display:none;}
div#monnhom div#mncontent table{text-align: center;margin-bottom:10px;}


div#monnhom div#mncontent table tr{height: 30px;}
div#monnhom div#mncontent table tr.full{background-color: #FF120A;opacity: .9;}
div#monnhom div#mncontent table tr td, th{border: 1px solid #e8e9e8;}
div#monnhom div#mncontent table tr.full td{border-left: none;border-right: none;}
div#monnhom div#mncontent table tr td:last-child{border: none;background-color: white;padding:0px 0px 0px 10px;}
div#monnhom div#mncontent table tr td:last-child input[type="checkbox"]{cursor: pointer;}
	 

div#monnhom div#mncontent table th#x1{width:120px;}
div#monnhom div#mncontent table th#x2{width:200px;text-align:left;}
div#monnhom div#mncontent table th#x3{width:170px;text-align:left;}     
div#monnhom div#mncontent table th#x4{width:55px;}
div#monnhom div#mncontent table th#x5{width:55px;}
div#monnhom div#mncontent table th#x6{width:55px;}
div#monnhom div#mncontent table th#x7{width:55px;}
div#monnhom div#mncontent table th#x8{width:55px;}
div#monnhom div#mncontent table th#x9{width:55px;}

div#monnhom div#mncontent table td.TenGV{text-align:left;}
div#monnhom div#mncontent table td.TenMH{text-align:left;}

div#monnhom div.selectMN{position: absolute;top: 440px;left: 790px;background: url(../../images/index/btnaccept.png) no-repeat;height: 59px;width: 58px;z-index:10;}
div#monnhom div.selectMN:hover{background: url(../../images/index/btnaccept_hover.png) no-repeat;cursor: pointer;}
div#monnhom div#mnbottom {position: absolute;background-color: #29abfe;top: 449px;height: 55px;width: 100%;}
div#monnhom div#mnbottom p{font-size: 14px;font-weight: bold;line-height: 27px;padding-left:20px;}






#wrapper #primary #right{width:250px;float:right;min-height:800px;}
#wrapper #primary #right .box{margin-bottom: 24px;}
#wrapper #primary #right .box h3{text-align:center;line-height:20px;}
#wrapper #primary #right #taikhoan {height:190px;}
#wrapper #primary #right #taikhoan #taikhoancontent p{font-size: 14px;padding: 0px 2px;line-height: 28px;}
#wrapper #primary #right #taikhoan p#action
{
    margin-top:2px;
}
#wrapper #primary #right #taikhoan a,
#wrapper #primary #right #TKB a{
                            
                            font-size: 13px;
                            color:#000;
                            background: url(../../images/index/blue_bg.jpg) repeat-x;
                            padding:5px 20px;
                            height:20px;
                            
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            -o-border-radius: 5px;
                            border-radius: 5px;                      
                            -webkit-box-shadow: 2px 2px  6px #646564;
                            -moz-box-shadow: 2px 2px 6px #646564;
                            line-height:20px;
                            text-align:center;                            
                            text-decoration:none;
                            
                            }

#wrapper #primary #right #taikhoan a:hover,
#wrapper #primary #right #TKB a:hover{color:#fff;}

#wrapper #primary #right #TKB{height:220px;}
#wrapper #primary #right #TKB table{border-collapse: collapse;height: 142px;width:242px;}
#wrapper #primary #right #TKB table tr{height:24px;}
#wrapper #primary #right #TKB table th,
#wrapper #primary #right #TKB table td{border:1px solid #DCDDDE;width:30px;}
#wrapper #primary #right #TKB p#tkb
{
    margin-top: 12px;
}


#TKBcontent td.lich{text-align: center;cursor: default;color: #333;font-size: 10px;}

#wrapper #primary #right #mondadk{height: 500px;}
#wrapper #primary #right #mondadk #lietkedk {font-size: 16px;height:430px;line-height: 27px;overflow-y: scroll;}
#wrapper #primary #right #mondadk #lietkedk ol {padding-left: 27px;}
#wrapper #primary #right #mondadk #lietkedk ol li {border-bottom: 1px dashed #CCC;}
#wrapper #primary #right #mondadk p{margin:5px 0px 0px 5px;font-size:16px;font-weight:bold;}

#wrapper #primary #right #nhacnho{height: 400px;position:relative;}
#wrapper #primary #right #nhacnho ul{list-style-type: disc; }
#wrapper #primary #right #nhacnho ul li{padding:5px 4px;margin-bottom:5px;display:block;white-space:pre-wrap;}
#wrapper #primary #right #nhacnho ul li a{color:blue;}
#wrapper #primary #right #nhacnho .box_data{position:relative;overflow:hidden;height: 358px;}
#wrapper #primary #right #nhacnho .box_data ul{position:absolute;}
#wrapper #footer
{
    
     margin:0px 0px;
    width:1280px;
    height: 266px;
    position:relative;
    background: url(../../images/index/footer2_bg.jpg) repeat-x;
	
}
#wrapper #footer #diachi
{
    top: 10px;
    position: absolute;
    font-size: 21px;
    line-height: 30px;
    margin: 0px 400px;
    text-align: center;
    z-index: 30;
}

#wrapper #footer #link
{
    position: absolute;
    top: 189px;
}

#wrapper #footer #link img
{
    margin: 0px 0px 0px 35px;
}

#wrapper #footer #link img:first-child
{
    margin-left: 435px;
}

/* popup */
#popup{top: 0px;height: 100%;width: 100%;position: fixed;background-color: #111;opacity: .65;z-index: 40;display:none;}

/* change pass*/

#divchangepass{
                box-shadow:0px 0px 10px #fff;
              -webkit-box-shadow:0px 0px 10px #fff;
              -moz-box-shadow:0px 0px 10px #fff;
              -o-box-shadow:0px 0px 10px #fff;
                top: 50%;left: 50%;margin-left: -260px;
                margin-top: -180px;width: 520px;
                height: 360px;position: fixed;
                z-index: 50;
                background-color: white;display:none;}
#divchangepass #topchangepass{height: 40px;background-color: #4DB9FE;padding-left: 170px;font-size: 20px;font-weight: bold;color: white;line-height: 40px;}
#divchangepass #closechangepass{height: 39px;width: 38px;top: 7px;right: 10px;border: none;position: absolute;background: url(../../images/close.png) no-repeat;opacity:0.8;}
#divchangepass #closechangepass:hover{opacity:1;cursor:pointer;}
#divchangepass div.nottop{left: 5px;padding: 15px 30px;font-size: 20px;}
#divchangepass div.nottop:hover{border: 5px 5px 5px 5px;background-color: #eee;opacity: 0.9;}
#divchangepass div.nottop input{height: 23px;width: 400px;left: 32px;position: absolute;font-size: 19px;padding-left: 5px;}
#divchangepass #errorOldPassword{position: absolute;top: 295px;left: 200px;color: red;}
#divchangepass #errorNewPassword{position: absolute;top: 320px;left: 200px;color: red;}
#divchangepass #btn_changepass{height: 59px;width: 56px;top: 290px;left: 400px;border: none;position: absolute;background: url(../../images/index/btnaccept.png);}
#divchangepass #btn_changepass:hover{background: url(../../images/index/btnaccept_hover.png);cursor: pointer;}