*{margin:0px 0px;padding:0px 0px;font-size:16px;}
#wrapper{border:1px solid red;width:890px;height:450px;}
#wrapper #malop{font-weight:bold;font-size:20px;text-align:center;margin:15px auto;}
#wrapper #diem{height:350px;width:95%;}
#wrapper #diem table{text-align:center;width:450px;margin-left:5px;}
#wrapper #diem table input{text-align:center;width:60px;border:none;}
#wrapper #diem table textarea{width:100%;height:99%;border:none;margin-top:3px;}