#wrapper #primary #left #content table{border: 1px solid #DCDDDE;border-collapse: collapse;}
#wrapper #primary #left #content table tr#first{height:30px;background: #DCDDDE;}
#wrapper #primary #left #content table tr{height:24px;}
#wrapper #primary #left #content table tr:hover{background-color:#eeecec;}
#wrapper #primary #left #content table tr.lopday{background-color:#fcdddb;}
#wrapper #primary #left #content table tr.lopmo{background-color:#cbfbe0;}
#wrapper #primary #left #content table td,
#wrapper #primary #left #content table th{border-top:1px dashed #DCDDDE;border-right:1px solid #DCDDDE;text-align:center;}
#wrapper #primary #left #content table td:nth-child(3){text-align:left;}
#wrapper #primary #left #content table tr td:last-child p{color: #3761FF;}/*3761FF*/
#wrapper #primary #left #content table tr td:last-child p.denghi{opacity:0.5;}
#wrapper #primary #left #content table tr td:last-child p:hover{cursor: pointer;color: blue;opacity:1;}
#wrapper #primary #left #content table th#hk{width:60px;}
#wrapper #primary #left #content table th#mamh{width:140px;}
#wrapper #primary #left #content table th#tenmh{width:300px;}
#wrapper #primary #left #content table th#sotc{width:60px;}
#wrapper #primary #left #content table th#tclt{width:60px;}
#wrapper #primary #left #content table th#tcth{width:60px;}
#wrapper #primary #left #content table th#diem{width:60px;}
#wrapper #primary #left #content table th#tinhtrang{width:80px;}
#wrapper #primary #left #content table th#thaotac{width:140px;}
#wrapper #primary #left #content a#dangky{background: url(../../images/index/blue_bg.jpg) repeat-x;
                                                  color:#fff;
                                                  padding:5px 20px;
                                                  display:block;
                                                -webkit-border-radius: 5px;
                                                -moz-border-radius: 5px;
                                                -o-border-radius: 5px;
                                                border-radius: 5px;                      
                                                -webkit-box-shadow: 2px 2px  6px #646564;
                                                -moz-box-shadow: 2px 2px 6px #646564;
                                                line-height:20px;
                                                text-align:center;
                                                border:1px dashed #ebebeb;
                                                margin:5px 0px 15px 832px;
                                                width:100px;                                                
                                                font-size:14px;
                                                
                                                }

#wrapper #primary #left #content a#dangky:hover{font-weight:bold;cursor:pointer;color:#fff;}

div.popupdetail{   opacity: 1;
                top: 50%;
                left: 50%;
                margin-left: -445px;
                margin-top: -250px;
                width: 890px;
                height: 500px;
                background-color: white;
                position: fixed;
                z-index: 50;
                box-shadow: 0px 0px 10px #ccc;
				display:none;}
div.popupdetail div.class{background-color: #29abfe;color: white;line-height: 50px;height: 50px;font-size: 22px;text-align: center;font-weight: bold;}
div.popupdetail p{font-size:18px;font-weight:bold;margin:5px 0px 3px 18px;}
div.popupdetail table{margin-left: 20px;width: 810px;text-align: center;}

div.popupdetail table tr{height: 30px;}
div.popupdetail table tr.full{background-color: #FF120A;opacity: .9;}
div.popupdetail table tr td, th{border: 1px solid #e8e9e8;}
div.popupdetail table tr.full td{border-left: none;border-right: none;}
div.popupdetail table tr td:last-child{border: none;background-color: white;padding:0px 0px 0px 10px;}
div.popupdetail table tr td:last-child input[type="checkbox"]{cursor: pointer;}
	 

div.popupdetail table th#x1{width:120px;}
div.popupdetail table th#x2{width:200px;text-align:left;}
div.popupdetail table th#x3{width:170px;text-align:left;}     
div.popupdetail table th#x4{width:55px;}
div.popupdetail table th#x5{width:55px;}
div.popupdetail table th#x6{width:55px;}
div.popupdetail table th#x7{width:55px;}
div.popupdetail table th#x8{width:55px;}
div.popupdetail table th#x9{width:55px;}

div.popupdetail table td.TenGV{text-align:left;}
div.popupdetail table td.TenMH{text-align:left;}

div.popupdetail div.select{position: absolute;top: 440px;left: 790px;background: url(../../images/index/btnaccept.png) no-repeat;height: 59px;width: 58px;z-index:10;}
div.popupdetail div.select:hover{background: url(../../images/index/btnaccept_hover.png) no-repeat;cursor: pointer;}
div.popupdetail div.note{position: absolute;background-color: #29abfe;top: 440px;height: 60px;width: 100%;}
div.popupdetail div.note p{font-size: 14px;line-height: 24px;}

div#monnhom {opacity: 1;
                top: 50%;
                left: 50%;
                margin-left: -445px;
                margin-top: -250px;
                width: 890px;
                height: 500px;
                background-color: white;
                position: fixed;
                z-index: 50;
                box-shadow: 0px 0px 10px #ccc; 
				cursor:default;
				display:none;}
div#monnhom div#mntop{background-color: #29abfe;color: white;height: 55px;text-align:center;line-height: 42px;}
div#monnhom div#mntop div.mnshow{height: 42px;float: left;margin:13px 0px 0px 10px;
                                color: black;width: 240px;
                                font-size:21px;
                                font-weight:bold;
                                background:url(../../images/index/mtcshow_bg.png) repeat-x;
                                -webkit-border-top-left-radius: 5px;
                                -moz-border-top-left-radius: 5px;
                                -o-border-top-left-radius: 5px;
                                border-top-left-radius: 5px;  
                                
                                -webkit-border-top-right-radius: 5px;
                                -moz-border-top-right-radius: 5px;
                                -o-border-top-right-radius: 5px;
                                border-top-right-radius: 5px;  
                                cursor:pointer;
                                }
div#monnhom div#mntop div.mnnormal{height: 42px;float: left;margin:20px 0px 0px 10px;
                                color: #bcb8b8;width: 240px;
                                font-size:21px;                                
                                background:url(../../images/index/mtcshow_bg.png) repeat-x;
                                -webkit-border-top-left-radius: 5px;
                                -moz-border-top-left-radius: 5px;
                                -o-border-top-left-radius: 5px;
                                border-top-left-radius: 5px;  
                                
                                -webkit-border-top-right-radius: 5px;
                                -moz-border-top-right-radius: 5px;
                                -o-border-top-right-radius: 5px;
                                border-top-right-radius: 5px;  
                                cursor:pointer;}
div#monnhom div#mntop div.mnhide{height: 47px;
                                float: left;
                                margin:17px 0px 0px 10px;color: #BDBDBD;width: 240px;font-size:21px;font-weight:bold;}
div#monnhom div#mntop div.mnnormal:hover{
                                margin:13px 0px 0px 10px;
                                color: black;                                
                                
}
div#monnhom div#mncontent{margin-top: 4px;padding:10px 10px;}
div#monnhom div#mncontent p{font-size:18px;font-weight:bold;margin-bottom:2px;}
div#monnhom div#mncontent div.divmnnormal{display:none;}
div#monnhom div#mncontent table{text-align: center;margin-bottom:10px;}


div#monnhom div#mncontent table tr{height: 30px;}
div#monnhom div#mncontent table tr.full{background-color: #FF120A;opacity: .9;}
div#monnhom div#mncontent table tr td, th{border: 1px solid #e8e9e8;}
div#monnhom div#mncontent table tr.full td{border-left: none;border-right: none;}
div#monnhom div#mncontent table tr td:last-child{border: none;background-color: white;padding:0px 0px 0px 10px;}
div#monnhom div#mncontent table tr td:last-child input[type="checkbox"]{cursor: pointer;}
	 

div#monnhom div#mncontent table th#x1{width:120px;}
div#monnhom div#mncontent table th#x2{width:200px;text-align:left;}
div#monnhom div#mncontent table th#x3{width:170px;text-align:left;}     
div#monnhom div#mncontent table th#x4{width:55px;}
div#monnhom div#mncontent table th#x5{width:55px;}
div#monnhom div#mncontent table th#x6{width:55px;}
div#monnhom div#mncontent table th#x7{width:55px;}
div#monnhom div#mncontent table th#x8{width:55px;}
div#monnhom div#mncontent table th#x9{width:55px;}

div#monnhom div#mncontent table td.TenGV{text-align:left;}
div#monnhom div#mncontent table td.TenMH{text-align:left;}

div#monnhom div.selectMN{position: absolute;top: 440px;left: 790px;background: url(../../images/index/btnaccept.png) no-repeat;height: 59px;width: 58px;z-index:10;}
div#monnhom div.selectMN:hover{background: url(../../images/index/btnaccept_hover.png) no-repeat;cursor: pointer;}
div#monnhom div#mnbottom {position: absolute;background-color: #29abfe;top: 449px;height: 55px;width: 100%;}
div#monnhom div#mnbottom p{font-size: 14px;font-weight: bold;line-height: 27px;padding-left:20px;}
