


*{margin:0px;padding:0px;}
body
{
    background: url(../../images/index/body_bg.png);
    font-family:tahoma;
}
a{text-decoration:none;}
a:hover{cursor:pointer;opacity:1;}

#wrapper
{
    width:1280px;
    margin:0px auto;
    
    -webkit-box-shadow: 0px 0px  10px #646564;
    -moz-box-shadow: 0px 0px 10px #646564;
    box-shadow: 0px 0px 10px #646564;
    background: #fff;
}
#wrapper #top
{
    height:16px;
    background: #F13835;
    position:relative;
    overflow:hidden;
}
#wrapper #top h4
{
    font-family: arial;
    font-size:12px;
    color:#fff;
    position:absolute;
    display:block;
    white-space:nowrap;
}

#wrapper #header
{
    height: 107px;
    position:relative;
    background: #fff;
}
#wrapper #header img
{
    margin: 4px 5px; 
}
#wrapper #header #banner
{
    top: 13px;
    left: 120px;
    position: absolute;
}
#wrapper #header #banner p
{
    
    font: bold 20px  "Times New Roman",arial,Tahoma,verdana,sans-serif;
    color: #29abfe;
}
#wrapper #header #banner h1
{
    font: bold 28px  "Times New Roman",arial,Tahoma,verdana,sans-serif;
    color: #29abfe;
    
}

#wrapper #header #contact
{
    top: 0px;
    right: 10px;
    position: absolute;
    
    
}

#wrapper #header #contact img
{
    width:24px;
    height:24px;
    display:block;
}

#wrapper #header #contact ul li
{
    margin:0px 2px;
    display: inline-block;
    
    font-size:11px;
    height:32px;    
    vertical-align: middle;
}
#wrapper #header #contact ul li p
{
    line-height:32px;
    color:#aaa;
}
#wrapper #header #contact ul li p:hover
{
    color:#29abfe;
}
#wrapper #header #info
{
    top: 54px;
    right: 10px;
    position: absolute;
    
    
    
}

#wrapper #header #info ul li
{
    margin:0px 2px;
    display: inline-block;
    padding:0px 5px;
    background-color:#F13835;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radisu:3px;
    border:1px solid red;
}
#wrapper #header #info ul li a
{
    display:block;
     float:left;
    line-height:32px;
    color:#ccc;
    font-size:10px;
    font-weight: bold;
    padding-left:32px;
}
#wrapper #header #info ul li a#home
{
    
    background: url("../../images/index/home_black.png") no-repeat left center;
    
   
}
#wrapper #header #info ul li a#home:hover
{
    background: url("../../images/index/home_on.png") no-repeat left center;
    color:#fff;
}



#wrapper #header #info ul li a#tutorial
{
   
    background: url("../../images/index/gear.png") no-repeat left center;
    
}
#wrapper #header #info ul li a#tutorial:hover
{
    background: url("../../images/index/gear_on.png") no-repeat left center;
    color:#fff;
}


#wrapper #header #info ul li a#policy
{
 
    background: url("../../images/index/policy2.png") no-repeat left center;
    
}
#wrapper #header #info ul li a#policy:hover
{
    background: url("../../images/index/policy2_on.png") no-repeat left center;
    color:#fff;
}


#wrapper #header #info ul li a#login
{
    
    background: url("../../images/index/login.png") no-repeat left center;
    
   
}
#wrapper #header #info ul li a#login:hover
{
    background: url("../../images/index/login2_on.png") no-repeat left center;
    color:#fff;
}
#wrapper .separator
{
    
}
#wrapper .separator img
{
    display:block;
    margin:0px auto;
}
#wrapper #separator1
{
    margin-bottom:-14px ;
}
#wrapper #separator2
{
    margin-top:-8px ;
}
#wrapper #slider
{
    width:98%;
    margin:0px auto;
    overflow:auto;
    
    
}


#wrapper #main_menu 
{
    line-height: 20px;
    height:53px;
    background-image: url("../../images/menu_bg.jpg");
    z-index:10;position:relative;
    margin-top:10px;
    margin-bottom:20px;
    
    border-bottom:1px dashed #fff;
}
#wrapper #main_menu a
{
    display: block;
    text-decoration: none; 
    color:#fff;
    font-size:18px;
}



#wrapper #primary
{
    padding:10px 10px;
    background:#fff;
    margin: 0px auto;
    
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    -border-top-left-radius:5px;
    position:relative;
    
}
#wrapper #linklogin{color: #fff;background: url(../../images/index/h4_bg.jpg) repeat-x;width:100px;height:20px;line-height:20px;padding:5px 10px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -o-border-radius: 5px;
                border-radius: 5px;
                text-align:center;
                float:right;
                margin-bottom:10px;
                }

#wrapper #linklogin p:hover{font-weight:bold;cursor: pointer;}
#wrapper #quyche{height: 800px;   border:1px solid #e8e9e8;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;-webkit-box-shadow: 0 0  10px #646564;-moz-box-shadow: 0 0  6px #646564;padding:10px 5px;margin-bottom: 20px;}
#wrapper #quyche .box{padding:2px 2px;border:1px solid #e8e9e8;	-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;margin-bottom:20px;}
#wrapper #quyche .box h4{color: #fff;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;background: url(../../images/index/h4_bg.jpg) repeat-x;line-height:20px;padding:5px 10px;}
#wrapper #quyche .box #box_data{margin-top:4px;border:1px solid #e8e9e8;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;padding:5px 10px;}
#wrapper #quyche .box #box_data ol{list-style-position: inside;}
#wrapper #quyche .box #box_data ol li{line-height:40px;}



#wrapper #gioithieu{border:1px solid #e8e9e8;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;-webkit-box-shadow: 0 0  10px #646564;-moz-box-shadow: 0 0  6px #646564;padding:10px 5px;margin-bottom: 20px;}
#wrapper #gioithieu .box{padding:2px 2px;border:1px solid #e8e9e8;	-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;margin-bottom:20px;}
#wrapper #gioithieu .box h4{color: #fff;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;background: url(../../images/index/h4_bg.jpg) repeat-x;line-height:20px;padding:5px 10px;}
#wrapper #gioithieu .box #box_data{margin-top:4px;border:1px solid #e8e9e8;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;padding:5px 10px;}
#wrapper #gioithieu .box #box_data ol{list-style-position: inside;}
#wrapper #gioithieu .box #box_data ol li{line-height:40px;}

#wrapper #gioithieu .box #box_data p{margin: 10px 0px;}
#wrapper #gioithieu .box #box_data img{display:block;width:80%; margin:5px auto;}

#wrapper #huongdan{height: 800px;   border:1px solid #e8e9e8;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;-webkit-box-shadow: 0 0  10px #646564;-moz-box-shadow: 0 0  6px #646564;padding:10px 5px;margin-bottom: 20px;}
#wrapper #huongdan .box{padding:2px 2px;border:1px solid #e8e9e8;	-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;margin-bottom:20px;}
#wrapper #huongdan .box h4{color: #fff;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;background: url(../../images/index/h4_bg.jpg) repeat-x;line-height:20px;padding:5px 10px;}
#wrapper #huongdan .box #box_data{margin-top:4px;border:1px solid #e8e9e8;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;padding:5px 10px;}
#wrapper #huongdan .box #box_data ol{list-style-position: inside;}
#wrapper #huongdan .box #box_data ol li{line-height:40px;}

#wrapper #footer
{
    
    margin:0px 5px;
    width:1190px;
    height: 266px;
    position:relative;
    
	
}
#wrapper #footer #diachi
{
    top: 10px;
    position: absolute;
    font-size: 21px;
    line-height: 30px;
    margin: 0px 400px;
    text-align: center;
    z-index: 30;
}

#wrapper #footer #link
{
    position: absolute;
    top: 189px;
}

#wrapper #footer #link img
{
    margin: 0px 0px 0px 35px;
}

#wrapper #footer #link img:first-child
{
    margin-left: 435px;
}

/* popup */
#popup{top: 0px;height: 100%;width: 100%;position: fixed;background-color: #111;opacity: .65;z-index: 40;display:none;}
#formlogin
{
    opacity: 1;
    top: 50%;
    left: 50%;
    margin-left: -192px;
    margin-top: -248px;
    width: 384px;
    height: 497px;
    position: fixed;
    background: url("../../images/index/loginform_bg.png");
    z-index: 50;
    box-shadow:0px 0px 10px #fff;
    -webkit-box-shadow:0px 0px 10px #fff;
    -moz-box-shadow:0px 0px 10px #fff;
    -o-box-shadow:0px 0px 10px #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 7px;  
	display:none;
}
#formlogin img#close{position: absolute;top:-2px;right:-2px;opacity:0.6;}
#formlogin img#close:hover{opacity:1;cursor: pointer;}
#formlogin table{margin:80px 10px 10px  30px;}
#formlogin table tr{height:40px;}
#formlogin table td{font-size:20px;}
#formlogin table td input#username{width:320px;height:30px;font-size:18px;}
#formlogin table td input#password{width:320px;height:30px;font-size:18px;}
#formlogin table td input#captcha{width:320px;height:30px;font-size:18px;}
#formlogin table td input#dangnhap{width:128px;height:64px;background: url("../../images/index/dang.png");border:none;font-size:18px;}
#formlogin table td input#dangnhap:hover{cursor:pointer;font-weight:bold;}


.error
{
    position: absolute;
    color: red;
    left: 22px;
}

#captchaerror
{
    top: 370px;
}

#accounterror
{
	top: 471px;
}
#ontop
{
    padding:5px 10px;
    font-size:10px;
    background: #F13835;
    position:fixed;
    bottom: 5px ;
    right:0px;
}
#ontop:hover
{
    cursor: pointer;
    
}
#ontop p:hover
{
    color:#ccc;
}
#ontop p
{
    color:#fff;
}