#wrapper #content{min-height: 800px;}
#wrapper #content #contenttable div.roomclose
{
    position: relative;
    opacity: 0.8;
    float: left;
    margin: 30px 23px;
	width: 172px;
	height: 172px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 7px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 7px rgba(0,0,0,.2);
	box-shadow: 0 0 7px rgba(0,0,0,.2);
	background-image: -webkit-linear-gradient(312deg, #bcbcbc, #dedede 15%, #fff 75%);
	background-image: -moz-linear-gradient(312deg, #bcbcbc, #dedede 25%, #fff 75%);
	background-image: -o-linear-gradient(312deg, #bcbcbc, #dedede 25%, #fff 75%);
	background-image: -ms-linear-gradient(312deg, #bcbcbc, #dedede 25%, #fff 75%);
	background-image: linear-gradient(312deg, #bcbcbc, #ededed 15%, #fff 70%);
}
#wrapper #content #contenttable div.roomopen
{
    background: url(../../images/index/bell.gif) no-repeat top left;
    position: relative;
    float: left;
    margin: 30px 23px;
	width: 172px;
	height: 172px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 30px rgba(0,0,255,.7);
	-moz-box-shadow: 0 0 30px rgba(0,0,255,.7);
	box-shadow: 0 0 30px rgba(0,0,255,.7);
	//background-image: -webkit-linear-gradient(312deg, #ededed, #fff 10%);
	//background-image: -moz-linear-gradient(312deg, #ededed, #fff 10%);
	//background-image: -o-linear-gradient(312deg, #ededed, #fff 10%);
	//background-image: -ms-linear-gradient(312deg, #ededed, #fff 10%);
	//background-image: linear-gradient(312deg, #ededed, #fff 10%);
}
#wrapper #content #contenttable div.roomopen:hover
{
    cursor: pointer;
    background: url(../../images/index/bell.jpg) no-repeat top left;
	-webkit-box-shadow: 0 0 39px rgba(0,0,255,.75);
	-moz-box-shadow: 0 0 39px rgba(0,0,255,.75);
	box-shadow: 0 0 39px rgba(0,0,255,.75);
}
#wrapper #content #contenttable div p
{
    margin-left: 15px;
}
#wrapper #content #contenttable div p:first-child
{
    margin-left: 42px;
    margin-top: 5px;
}:nth-child(n)
#wrapper #content #contenttable div p:nth-child(2)
{
    margin-top: 35px;
}