
*{margin:0px;padding:0px;}
a{text-decoration:none;}
a:hover{cursor:pointer;opacity:1;}
body
{
	background: url(../../images/index/body_bg.png);
    
}
#wrapper
{
    width:1280px;
    margin:0px auto;
	background:#fff;
    /* background: #29abfe; */
    -webkit-box-shadow: 0px 0px  10px #646564;
    -moz-box-shadow: 0px 0px 10px #646564;
    box-shadow: 0px 0px 10px #646564;
}
#wrapper #top ul
{
    list-style: none;
    float:right;
}
#wrapper #top ul li
{
    display:inline-block;
    line-height: 31px;
    margin:0px 5px 0px 10px;
    color:#fff;
}
#wrapper #top ul li a
{
    color:#fff;
}
#wrapper #top ul li a.active
{
    opacity:1;
}
#wrapper #header{border-top: 4px solid #F13835;height: 100px;position:relative;border-top: 4px solid #F13835;font-family:tahoma;}

#wrapper #header img{ /* margin: 4px 65px; */ }
#wrapper #header #banner{top: 10px;left: 105px; position: absolute;}
#wrapper #header #banner p{    font: bold 22px "Times New Roman", Tahoma,arial,verdana,sans-serif;    color: #29abfe;}


#wrapper #header #contact
{
    top: 0px;
    right: 10px;
    position: absolute;
    
    
}

#wrapper #header #contact img
{
    width:24px;
    height:24px;
    display:block;
}

#wrapper #header #contact ul li
{
    margin:0px 2px;
    display: inline-block;
    
    font-size:11px;
    height:32px;    
    vertical-align: middle;
}
#wrapper #header #contact ul li p
{
    line-height:32px;
    color:#aaa;
}
#wrapper #header #contact ul li p:hover
{
    color:#29abfe;
}





#wrapper #data{border:1px solid #e8e9e8;
                background:#fff;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              -o-border-radius: 5px;
              border-radius: 5px;
              width:1160px;min-height:600px;
              margin:5px 10px;
              
              
              overflow:hidden;padding:15px 10px;}


#wrapper #data .data_box{
                        border:1px dashed #a1a2a1;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -o-border-radius: 5px;
                        border-radius: 5px;                        
                       
                        position:relative;
                        margin-top:20px;
                        padding:15px;}



#wrapper #footer{height:20px;position:relative;}
#wrapper #footer p{font-size:18px;color: #fff;}
#wrapper #footer h4{color:#fff;font-size:20px;}
#wrapper #footer img#separator{margin:0px 0px 0px 300px ;}
#wrapper #footer #info{position:absolute;top:50px;left:20px;}
#wrapper #footer #info p{margin-bottom: 5px;}
#wrapper #footer #info a{color:#fff;}
#wrapper #footer #info a:hover{text-decoration:underline;}
#wrapper #footer #contact{position:absolute;top:50px;right:20px;
                         height:141px;background:url("../../images/_copyright.png") no-repeat;
                         padding:30px 10px;}
#wrapper #footer #copyright{position:absolute;bottom:0px;left:0px;width:100%;text-align:center;}
#wrapper #footer #copyright p{font-size:16px;}


#wrapper #primary
{
    padding:10px 10px;
    background:#fff;
    margin: 0px auto;
    
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    -border-top-left-radius:5px;
    position:relative;
    
    
}



#wrapper #gioithieu{border:1px solid #e8e9e8;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;-webkit-box-shadow: 0 0  10px #646564;-moz-box-shadow: 0 0  6px #646564;padding:10px 5px;margin-bottom: 20px;}
#wrapper #gioithieu .box{padding:2px 2px;border:1px solid #e8e9e8;	-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;margin-bottom:20px;}
#wrapper #gioithieu .box h4{color: #fff;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;background: url(../../images/index/h4_bg.jpg) repeat-x;line-height:20px;padding:5px 10px;}
#wrapper #gioithieu .box #box_data{margin-top:4px;border:1px solid #e8e9e8;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;padding:5px 10px;}
#wrapper #gioithieu .box #box_data ol{list-style-position: inside;}
#wrapper #gioithieu .box #box_data ol li{line-height:40px;}

#wrapper #gioithieu .box #box_data p{margin: 10px 0px;}
#wrapper #gioithieu .box #box_data img{display:block;width:80%; margin:5px auto;}

#wrapper #huongdan{height: 800px;   border:1px solid #e8e9e8;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;-webkit-box-shadow: 0 0  10px #646564;-moz-box-shadow: 0 0  6px #646564;padding:10px 5px;margin-bottom: 20px;}
#wrapper #huongdan .box{padding:2px 2px;border:1px solid #e8e9e8;	-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;margin-bottom:20px;}
#wrapper #huongdan .box h4{color: #fff;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;background: url(../../images/index/h4_bg.jpg) repeat-x;line-height:20px;padding:5px 10px;}
#wrapper #huongdan .box #box_data{margin-top:4px;border:1px solid #e8e9e8;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;padding:5px 10px;}
#wrapper #huongdan .box #box_data ol{list-style-position: inside;}
#wrapper #huongdan .box #box_data ol li{line-height:40px;}
#wrapper #primary #flashcontent
{
    
    border:1px solid #e8e9e8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;border-radius: 5px;
    -webkit-box-shadow: 0 0  10px #646564;
    -moz-box-shadow: 0 0  6px #646564;
    padding:3px 0px;
    position:relative;
}
#wrapper #primary #flashcontent object
{
    margin:0px auto;
    
    display:block;
}



