
*{margin:0px;padding:0px;}
a{text-decoration:none;}
a:hover{cursor:pointer;opacity:1;}
body
{
	background: url(../../images/index/body_bg.png);
    
}
#wrapper
{
    width:1280px;
    margin:0px auto;
	background:#fff;
    /* background: #29abfe; */
    -webkit-box-shadow: 0px 0px  10px #646564;
    -moz-box-shadow: 0px 0px 10px #646564;
    box-shadow: 0px 0px 10px #646564;
}
#wrapper #top ul
{
    list-style: none;
    float:right;
}
#wrapper #top ul li
{
    display:inline-block;
    line-height: 31px;
    margin:0px 5px 0px 10px;
    color:#fff;
}
#wrapper #top ul li a
{
    color:#fff;
}
#wrapper #top ul li a.active
{
    opacity:1;
}
#wrapper #header{border-top: 4px solid #F13835;height: 100px;position:relative;border-top: 4px solid #F13835;font-family:tahoma;}

#wrapper #header img{ /* margin: 4px 65px; */ }
#wrapper #header #banner{top: 10px;left: 105px; position: absolute;}
#wrapper #header #banner p{    font: bold 22px "Times New Roman", Tahoma,arial,verdana,sans-serif;    color: #29abfe;}


#wrapper #header #contact
{
    top: 0px;
    right: 10px;
    position: absolute;
    
    
}

#wrapper #header #contact img
{
    width:24px;
    height:24px;
    display:block;
}

#wrapper #header #contact ul li
{
    margin:0px 2px;
    display: inline-block;
    
    font-size:11px;
    height:32px;    
    vertical-align: middle;
}
#wrapper #header #contact ul li p
{
    line-height:32px;
    color:#aaa;
}
#wrapper #header #contact ul li p:hover
{
    color:#29abfe;
}






#wrapper .box{-webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              -o-border-radius: 5px;
              border-radius: 5px;                      
              -webkit-box-shadow: 0px 0px  10px #646564;
              -moz-box-shadow: 0px 0px 10px #646564;
			 
            }
#wrapper .box_header{background: url(../../images/index/blue_bg.jpg) repeat-x;
                    height:20px;
                    -webkit-border-top-left-radius: 5px;
                    -moz-border-top-left-radius: 5px;
                    -o-border-top-left-radius: 5px;
                    border-top-left-radius: 5px;
                    -webkit-border-top-right-radius: 5px;
                    -moz-border-top-right-radius: 5px;
                    -o-border-top-right-radius: 5px;
                    border-top-right-radius: 5px;   
                    padding:5px;
					}
#wrapper .box_data{padding:5px;}
#wrapper .box_header h3{color:#fff;line-height:20px;}    
#wrapper #primary
{   min-height:800px;
    margin:0px 5px;
    background:#fff;
    
    overflow:auto;
}



    

#wrapper #primary #left{width:980px;float:left;min-height:800px;}
#wrapper #primary #left #content table{border: 1px solid #DCDDDE;border-collapse: collapse;}
#wrapper #primary #left #content table tr#first{height:30px;background: #DCDDDE;}
#wrapper #primary #left #content table tr{height:104px;}
#wrapper #primary #left #content table th{text-align:center;font-size:18px;line-height:40px;}
#wrapper #primary #left #content table td{border-top:1px solid #DCDDDE;border-right:1px solid #DCDDDE;text-align:center;vertical-align: top;}
#wrapper #primary #left #content table tr td.ca{width: 40px;vertical-align: middle;}
#wrapper #primary #left #content table td.lop{width:160px;overflow:hidden;padding:5px 2px;}
#wrapper #primary #left #content table td.lop:hover{background-color: #eef;opacity: 0.9;}
#wrapper #primary #left #content table td.lop p{border-bottom: 1px dashed #DCDDDE;}
#wrapper #primary #left #content table td.lop p:last-child{border-bottom: none;}
#wrapper #primary #left #content table td.lop p.thuchanh{color: blue;}

#wrapper #primary #left #content #xuatfile
{
    color: #fff;background: url(../../images/index/h4_bg.jpg) repeat-x;
    width:100px;height:20px;line-height:20px;padding:5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    text-align:center;
    margin:10px 0px 10px 770px;
}
#wrapper #primary #left #content #xuatfile:hover{cursor:pointer;font-weight:bold;}
button
{
    border:none;
    right: 30px;
    position: fixed;
    height: 50px;
    width: 133px;
    font: 18px "Times New Roman";
}

#btnTaiFile
{
    top: 420px;
    background: url(../../images/index/btnBlue.png);
}

#btnTaiFile:hover
{
    background: url(../../images/index/btnBlue_hover.png);
    cursor: pointer;
}

#btnInTKB
{
    top: 510px;
    background: url(../../images/index/btnGrey.png);
}

#btnInTKB:hover
{
    background: url(../../images/index/btnGrey_hover.png) no-repeat;
    cursor: pointer;
}



#wrapper #primary #right{width:250px;float:right;min-height:800px;}
#wrapper #primary #right .box{margin-bottom: 24px;}
#wrapper #primary #right .box h3{text-align:center;line-height:20px;}
#wrapper #primary #right #taikhoan {height:190px;}
#wrapper #primary #right #taikhoan #taikhoancontent p{font-size: 14px;padding: 0px 2px;line-height: 28px;}
#wrapper #primary #right #taikhoan a,
#wrapper #primary #right #TKB a{
                            
                            font-size: 13px;
                            color:#000;
                            background: url(../../images/index/blue_bg.jpg) repeat-x;
                            padding:5px 20px;height:20px;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            -o-border-radius: 5px;
                            border-radius: 5px;                      
                            -webkit-box-shadow: 2px 2px  6px #646564;
                            -moz-box-shadow: 2px 2px 6px #646564;
                            line-height:20px;
                            text-align:center;                            
                            text-decoration:none;
                            }
#wrapper #primary #right #taikhoan p#action
{
    margin-top:2px;
}
#wrapper #primary #right #taikhoan a:hover,
#wrapper #primary #right #TKB a:hover{font-weight:bold;color:#fff;}

#wrapper #primary #right #TKB{height:220px;}
#wrapper #primary #right #TKB table{border-collapse: collapse;height: 142px;width:242px;}
#wrapper #primary #right #TKB table tr{height:24px;}
#wrapper #primary #right #TKB table th,
#wrapper #primary #right #TKB table td{border:1px solid #DCDDDE;width:30px;}
#wrapper #primary #right #TKB p#tkb
{
    margin-top: 12px;
}


#TKBcontent td.lich{text-align: center;cursor: default;color: #333;font-size: 10px;}

#wrapper #primary #right #mondadk{height: 500px;}
#wrapper #primary #right #mondadk #lietkedk {font-size: 16px;height:430px;line-height: 27px;overflow-y: scroll;}
#wrapper #primary #right #mondadk #lietkedk ol {padding-left: 27px;}
#wrapper #primary #right #mondadk #lietkedk ol li {border-bottom: 1px dashed #CCC;}
#wrapper #primary #right #mondadk p{margin:5px 0px 0px 5px;font-size:16px;font-weight:bold;}

#wrapper #primary #right #nhacnho{height: 400px;position:relative;}
#wrapper #primary #right #nhacnho ul{list-style-type: disc; }
#wrapper #primary #right #nhacnho ul li{padding:5px 4px;margin-bottom:5px;display:block;white-space:pre-wrap;}
#wrapper #primary #right #nhacnho ul li a{color:blue;}
#wrapper #primary #right #nhacnho .box_data{position:relative;overflow:hidden;height: 358px;}
#wrapper #primary #right #nhacnho .box_data ul{position:absolute;}
#wrapper #footer
{
    
    margin:0px 0px;
    width:1280px;
    height: 266px;
    position:relative;
    background: url(../../images/index/footer2_bg.jpg) repeat-x;
	
}
#wrapper #footer #diachi
{
    top: 10px;
    position: absolute;
    font-size: 21px;
    line-height: 30px;
    margin: 0px 400px;
    text-align: center;
    z-index: 30;
}

#wrapper #footer #link
{
    position: absolute;
    top: 189px;
}

#wrapper #footer #link img
{
    margin: 0px 0px 0px 35px;
}

#wrapper #footer #link img:first-child
{
    margin-left: 435px;
}

/* popup */
#popup{top: 0px;height: 100%;width: 100%;position: fixed;background-color: #111;opacity: .65;z-index: 40;display:none;}

/* change pass*/

#divchangepass{
                box-shadow:0px 0px 10px #fff;
              -webkit-box-shadow:0px 0px 10px #fff;
              -moz-box-shadow:0px 0px 10px #fff;
              -o-box-shadow:0px 0px 10px #fff;
                top: 50%;left: 50%;margin-left: -260px;
                margin-top: -180px;width: 520px;
                height: 360px;position: fixed;
                z-index: 50;
                background-color: white;display:none;}
#divchangepass #topchangepass{height: 40px;background-color: #4DB9FE;padding-left: 170px;font-size: 20px;font-weight: bold;color: white;line-height: 40px;}
#divchangepass #closechangepass{height: 39px;width: 38px;top: 7px;right: 10px;border: none;position: absolute;background: url(../../images/close.png) no-repeat;opacity:0.8;}
#divchangepass #closechangepass:hover{opacity:1;cursor:pointer;}
#divchangepass div.nottop{left: 5px;padding: 15px 30px;font-size: 20px;}
#divchangepass div.nottop:hover{border: 5px 5px 5px 5px;background-color: #eee;opacity: 0.9;}
#divchangepass div.nottop input{height: 23px;width: 400px;left: 32px;position: absolute;font-size: 19px;padding-left: 5px;}
#divchangepass #errorOldPassword{position: absolute;top: 295px;left: 200px;color: red;}
#divchangepass #errorNewPassword{position: absolute;top: 320px;left: 200px;color: red;}
#divchangepass #btn_changepass{height: 59px;width: 56px;top: 290px;left: 400px;border: none;position: absolute;background: url(../../images/index/btnaccept.png);}
#divchangepass #btn_changepass:hover{background: url(../../images/index/btnaccept_hover.png);cursor: pointer;}


