*{margin: 0 0;}
#wrapper{border:1px solid red;height:500px;width:900px;margin:auto;}
#wrapper #content{height:250px;overflow:auto;}
#wrapper #content div.tailieu{margin-top:20px;margin-left:20px;position:relative;height:40px;}
#wrapper #content div.tailieu div{position:absolute;top:8px;}
#wrapper #content div.tailieu div.stt{left:10px;width:25px;}
#wrapper #content div.tailieu div.tentailieu{left:35px;width:380px;}
#wrapper #content div.tailieu div.dungluong{left:430px;width:150px;}
#wrapper #content div.tailieu div.ngayupload{left:650px;}
#wrapper #content div.tailieu:hover div.del{background:url("../../images/bin.png");left:800px;height:30px;width:30px;top:0px;cursor:pointer;opacity:.4;}
#wrapper #content div.tailieu:hover div.del:hover{opacity:1;}
#wrapper div.uploading{margin: 10px auto;text-align: center;position: relative;width:83%;height:60px;display: none;}
#wrapper div.uploading .progress{border: 1px solid #ccc;
background-image: -webkit-linear-gradient(top, #F2F2F2, white);
background-image: -moz-linear-gradient(top, #F2F2F2, white);
background-image: -ms-linear-gradient(top, #F2F2F2, white);
background-image: -o-linear-gradient(top, #F2F2F2, white);
background-image: linear-gradient(top, #F2F2F2, white);
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
-moz-box-shadow: 0px 1px 0px #fff, inset 0 1px 3px 0 rgba(0,0,0,.1);
-webkit-box-shadow: 0px 1px 0px #fff, inset 0 1px 3px 0 rgba(0,0,0,.1);
box-shadow: 0px 1px 0px #fff, inset 0 1px 3px 0 rgba(0,0,0,.1);
width: 100%; height: 20px;}
#wrapper div.uploading .progress #bar{height:20px;width:0%;
-moz-border-radius: 4px 0 0 4px;
-webkit-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background: #47A9EB;
background-image: -webkit-linear-gradient(top, transparent, rgba(14, 74, 113, .2));
background-image: -moz-linear-gradient(top, transparent, rgba(14, 74, 113, .2));
background-image: -ms-linear-gradient(top, transparent, rgba(14, 74, 113, .2));
background-image: -o-linear-gradient(top, transparent, rgba(14, 74, 113, .2));
background-image: linear-gradient(top, transparent, rgba(14, 74, 113, .2));
-webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.25), 0 2px 0px 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0, 83, 138, .6), inset 0 0 0px 1px rgba(255,255,255,.15);
-moz-box-shadow: 0 1px 0 0 rgba(0,0,0,.25), 0 2px 0px 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0, 83, 138, .6), inset 0 0 0px 1px rgba(255,255,255,.15);
box-shadow: 0 1px 0 0 rgba(0,0,0,.25), 0 2px 0px 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0, 83, 138, .6), inset 0 0 0px 1px rgba(255,255,255,.15);}
#wrapper div.uploading .progress #convert{height:23px;width:101%;background:url("../../images/busy.gif");z-index:10;position:absolute;top:0px;left:0px;display:none;}
#wrapper div.uploading #percent{margin-left: 45%; top: 25px;font-weight:bold;}
#wrapper #form{margin:40px 10px;}
#wrapper #form div.input{position:relative;height:40px;}
#wrapper #form div.input input{position:absolute;top:5px;width:320px;}
#wrapper #form div.input div.addfile{position:absolute;background:url("../../images/new.png");width:32px;height:32px;left:350px;opacity:0.6;}
#wrapper #form div.input div.addfile:hover{opacity:1;cursor:pointer;}
#wrapper #form div.input div.removefile{position:absolute;background:url("../../images/remove.png");width:32px;height:32px;left:400px;opacity:0.6;}
#wrapper #form div.input div.removefile:hover{opacity:1;cursor:pointer;}
#wrapper #form #submit-upload{background:url("../../images/accept.png");width:48px;height:48px;opacity:0.6;}
#wrapper #form #submit-upload:hover{opacity:1;cursor:pointer;}