﻿
#wrapper #main_menu 
{
   background: #00d0db; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #00d0db 0%, #29abfe 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#00d0db), color-stop(100%,#29abfe)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, #00d0db 0%,#29abfe 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #00d0db 0%,#29abfe 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #00d0db 0%,#29abfe 100%); /* IE10+ */
background: radial-gradient(ellipse at center, #00d0db 0%,#29abfe 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d0db', endColorstr='#29abfe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    
  //  background-image: url("../../images/menu_bg.jpg");
    z-index:10;position:relative;
    /* margin-top:10px; */
    
   
   padding:0px 0px;
    margin-bottom:10px;
    height:48px;
}
#wrapper #main_menu a
{
    display: block;
    text-decoration: none; 
    color: #FFF;
    font-size:18px;
    text-align:left;
    padding-left:32px;
    
    
    
	
}

#wrapper #main_menu ul li.top a#trangchu
{
    background: url("../../images/index/home_black.png") no-repeat left center;
}
#wrapper #main_menu ul li.top a#trangchu:hover
{
    background:  url("../../images/index/home_on.png") no-repeat left center;
    
    
}


#wrapper #main_menu ul li.top a#quyche
{
    background: url("../../images/index/policy2.png") no-repeat left center;
}
#wrapper #main_menu ul li.top a#quyche:hover
{
    background: url("../../images/index/policy2_on.png") no-repeat left center;
    
    
}


#wrapper #main_menu ul li.top a#sinhvien,#wrapper #main_menu ul li.top a#giaovien
{
    background: url("../../images/index/user.png") no-repeat left center;
}
#wrapper #main_menu ul li.top a#sinhvien:hover,#wrapper #main_menu ul li.top a#giaovien:hover
{
    background: url("../../images/index/user_on.png") no-repeat left center;
    
    
}

#wrapper #main_menu ul li.top a#lienket
{
    background: url("../../images/index/link.png") no-repeat left center;
}
#wrapper #main_menu ul li.top a#lienket:hover
{
    background: url("../../images/index/link_on.png") no-repeat left center;
    
    
}


#wrapper #main_menu ul li.top a#hdsd
{
    background: url("../../images/index/gear.png") no-repeat left center;
}
#wrapper #main_menu ul li.top a#hdsd:hover
{
    background: url("../../images/index/gear_on.png") no-repeat left center;
    
    
}


#wrapper #main_menu ul li.top a#thoat
{
    background: url("../../images/index/login2.png") no-repeat left center;
}
#wrapper #main_menu ul li.top a#thoat:hover
{
    background: url("../../images/index/login_on.png") no-repeat left center;
    
    
}
/*set top menu width */

#wrapper #main_menu ul li {width:140px; float: left;list-style-type:none;}
#wrapper #main_menu ul li.hdsd{width:180px;}
#wrapper #main_menu ul li.top{background: none;margin:0px 1px;height:48px;text-align:center;}
#wrapper #main_menu ul li.top a{line-height:48px;}
#wrapper #main_menu ul li.first{margin-left:100px;}
#wrapper #main_menu ul li:hover
{
	
	background:#F13835;
}
#wrapper #main_menu ul li.active
{
    background:#F13835;
    
}
#wrapper #main_menu ul li li:hover
{
	border-bottom:1px solid #000;
	
}
#wrapper #main_menu ul li:last-child a{border-right:none;}


/*Set submenu width 160px  and hide*/
#wrapper #main_menu li ul li a:hover {color:#000; }
#wrapper #main_menu ul li ul li,#main_menu ul li ul li ul li  { width: 220px; list-style-type:none;text-align:left;background:#F13835;
border-bottom:1px solid #fff; }
#wrapper #main_menu ul li ul li a,
#main_menu ul li ul li ul li a{font-size:18px;padding:5px 10px;}
#wrapper #main_menu ul li ul li ul li a{border-left:1px dashed #fff;}/*tao duong ke */
/*Theo quy luat ma them 
	Quy tac an: an het nhung ul chau, hien ul cua li ma thoi
	
*/

#wrapper #main_menu ul li ul, 
#wrapper #main_menu ul li:hover ul li ul,
#wrapper #main_menu ul li:hover ul li:hover ul li ul{ 
display:none;
	overflow:auto;
	
	list-style-type:none; 
	width: 220px;
	
	
	}
	
	
/*Theo quy luat ma them 
	Quy tac hien: hien ra ul con cua li duoc hover */
	

#wrapper #main_menu ul li:hover ul, 
#wrapper  #main_menu ul li:hover ul li:hover ul,
#wrapper #main_menu ul li:hover ul li:hover ul li:hover ul { display:block; }
	
#wrapper #main_menu ul li:hover ul li:hover ul,
#wrapper #main_menu ul li:hover ul li:hover ul li:hover ul { 
	position: absolute;
	margin-left: 220px;
	margin-top: -40px;
	}	
    

