*{padding:0px;margin:0px;}

.overflow{position:fixed;top:0px;left:0px;width:100%;height:100%;background:#111; opacity: 0.6;z-index:1200;visibility:hidden;}
.popup_detail{width:0px;background:#fff;z-index:1200;
			position:fixed;top:10px;right:0px;
              box-shadow:0px 0px 10px #fff;
              -webkit-box-shadow:0px 0px 10px #fff;
              -moz-box-shadow:0px 0px 10px #fff;
              -o-box-shadow:0px 0px 10px #fff;			  
			  
			  }
.popup_detail #pheader{height:30px;background-color:#4db9fe;}
.popup_detail #pheader p#ptitle{color:#fff;font-size:18px;margin:0px 20px;line-height:30px;}
.popup_detail #pheader img{position:absolute;top:-2px;right:-2px;opacity:0.4;}
.popup_detail #pheader img#pclose{top:-2px;right:-2px;}
.popup_detail #pheader img#pnext{top:300px;right:0px;}
.popup_detail #pheader img#pprev{top:300px;left:0px;}
.popup_detail #pheader img:hover{opacity:1;cursor:pointer;} 

.popup_detail #pdata{height:620px;background-color:#fff;overflow-y:auto;}
.popup_detail #pdata img#waiting{position:absolute;left:45%;top:40%;}

.popup_detail #pdata table {float:left;border-collapse:collapse;}

.popup_detail #pdata table td{border-bottom:1px dashed #e8e9e8;font-size:20px;padding:0px 10px}
.popup_detail #pdata table tr{height:36px;}
.popup_detail #pdata table tr:hover{background:#e8e9e8;}
.popup_detail #pdata table input,
.popup_detail #pdata table select,
.popup_detail #pdata table textarea{font-size:18px;width:300px;border:none;resize: none;}

.popup_detail #pdata table input:hover,
.popup_detail #pdata table select:hover,
.popup_detail #pdata table textarea:hover{cursor:pointer;}


.popup_detail #pdata table.error td{font-size:14px;}
.popup_detail #pdata table.error td span{color:red;}
.popup_detail #pdata table.error tr:hover{background:none;}

.popup_detail #pfooter{height:48px;background-color:#4db9fe;overflow:auto;}
.popup_detail #pfooter h4{float:left;margin:0px 10px;line-height:48px;font-weight:normal;display:none;}
.popup_detail #pfooter h4 img{float:left;}
.popup_detail #pfooter img,.popup_detail #pfooter input{float:right;width:48px;height:48px;margin:0px 10px;opacity:0.8;}
.popup_detail #pfooter img:hover{cursor:pointer;opacity:1;}
.popup_detail #pfooter img#process,.popup_detail #pfooter img#save{display:none;}


#flex
{
overflow:auto;
margin:0px auto;
width:1280px;
height:100%;
z-index:-1;
}
                     

